<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
      <div class="col-lg-12"> 
          <h2>CreditoBancarioItem</h2> 

          <ol class="breadcrumb"> 
              <li> 
                  <a routerLink="/">Início</a> 
              </li> 

              <li> 
                  <a routerLink="/creditobancarioitem">CreditoBancarioItem</a> 
              </li> 

              <li class="active"> 
                   <strong>{{activeBean.id}}</strong> 
              </li> 
          </ol> 

      </div> 

      </div> 

        <!--TOOLBAR--> 
<div class="row"> 
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar> 
 
    <div class="btn-group"> 
 
      <button class="btn btn-primary" 
        type="button" (click)="enableEdit()" 
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE"> 
        <i class="fas fa-pencil-alt"></i> Editar</button> 
 
 
      <button class="btn btn-primary" 
        type="button" 
        (click)="delete('este imóvel')"> 
        <i class="fas fa-eraser"></i> Apagar</button> 
 
      <button class="btn btn-primary"  
         (click)="this.save()"  
         type="button" 
        [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE"> 
         <i class="fas fa-save"></i> Salvar</button> 
    </div> 
 
    <div class="btn-group"> 
 
      <div class="dropdown report-dropdown "> 
 
        <button aria-expanded="true" 
        class="dropdown-toggle btn btn-primary" 
        data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos 
                </button> 
 
        <ul class="dropdown-menu user-box  animated row"> 
          <a><li>Açao 1</li></a> 
          <a><li>Açao 2</li></a> 
          <a><li>Açao 3</li></a> 
        </ul> 
 
      </div> 
    </div> 
 
    <div class="btn-group"> 
      <div class="input-group"> 
        <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button> 
 
        <div class="input-group-append"> 
          <div class="dropdown report-dropdown"> 
            <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"> 
              <span></span> 
            </button> 
 
            <ul class="dropdown-menu user-box  animated row"> 
              <a><li>Relatorio 1</li></a> 
              <a><li>Relatorio 2</li></a> 
              <a><li>Relatorio 3</li></a> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 
 
    <button class="btn btn-primary pull-right" 
        type="button" 
        (click)="openGrid()"> 
      <i class="fas fa-times-circle"></i> Fechar</button> 
 
  </div> 
  </div> 
<!--**************************************************************************************************************--> 
<div class="ibox-content l3-form"> 
      <div  class="form-horizontal row"> 
         <!--CAMPO TRB_CREDITOBANCARIO_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_creditobancario_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_creditobancario_id" 
                                   [(ngModel)]="activeBean.trb_creditobancario_id_id" 
                                   [code]="activeBean.trb_creditobancario_id_codigo" 
                                   [description]="activeBean.trb_creditobancario_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_creditobancario_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO TRB_COBRANCABANCARIASTATUS_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_cobrancabancariastatus_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_cobrancabancariastatus_id" 
                                   [(ngModel)]="activeBean.trb_cobrancabancariastatus_id_id" 
                                   [code]="activeBean.trb_cobrancabancariastatus_id_codigo" 
                                   [description]="activeBean.trb_cobrancabancariastatus_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_cobrancabancariastatus_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO REGISTRO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">registro</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_registro"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO BANCOARRECADADOR--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">bancoarrecadador</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_bancoarrecadador"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO NOSSONUMERO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">nossonumero</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_nossonumero"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO DATACREDITO--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">datacredito</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="datacredito" 
                            [ngModel]="activeBean.creditobancarioitem_datacredito |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO DATAPAGAMENTO--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">datapagamento</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="datapagamento" 
                            [ngModel]="activeBean.creditobancarioitem_datapagamento |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO DATAVENCIMENTO--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">datavencimento</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="datavencimento" 
                            [ngModel]="activeBean.creditobancarioitem_datavencimento |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO VALORORIGINAL--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valororiginal</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_valororiginal"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALORTARIFA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valortarifa</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_valortarifa"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALORRECEBIDO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valorrecebido</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_valorrecebido"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO JUROS--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">juros</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_juros"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO MULTA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">multa</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_multa"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO CORRECAO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">correcao</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_correcao"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DESCONTO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">desconto</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_desconto"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DETALHES--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">detalhes</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.creditobancarioitem_detalhes"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
      </div> 
</div>

