<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="form-name" style="float: left">
      <span class="toolbar-title">Veiculo</span>
    </div>

    <div class="pull-right">
      <div class="btn-group">

        <button class="btn btn-primary"
                type="button" (click)="enableEdit()"
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>


        <button class="btn btn-primary"
                type="button"
                (click)="delete('este imóvel')">
          <i class="fas fa-eraser"></i> Apagar
        </button>

        <button class="btn btn-primary"
                (click)="this.save()"
                type="button"
                [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>

      <div class="btn-group">

        <div class="dropdown report-dropdown ">

          <button aria-expanded="true"
                  class="dropdown-toggle btn btn-primary"
                  data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
          </button>

          <ul class="dropdown-menu user-box  animated row">
            <a>
              <li>Açao 1</li>
            </a>
            <a>
              <li>Açao 2</li>
            </a>
            <a>
              <li>Açao 3</li>
            </a>
          </ul>

        </div>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button>

          <div class="input-group-append">
            <div class="dropdown report-dropdown">
              <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
                <span></span>
              </button>

              <ul class="dropdown-menu user-box  animated row">
                <a>
                  <li>Relatorio 1</li>
                </a>
                <a>
                  <li>Relatorio 2</li>
                </a>
                <a>
                  <li>Relatorio 3</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary"
              type="button"
              (click)="openGrid()">
        <i class="fas fa-times-circle"></i> Fechar
      </button>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->


<!--CONTAINER DO FORM-->
<div class="col-lg-12 container-form">
  <div class="l3-form" style="">
    <div class="row" >

      <!--FORM-->
      <div class="col-lg-12">

        <!--BOX MAIN-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Dados Principais</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO CONTRIBUINTE-->
            <div class="col-lg-6">
              <label class="col-lg control-label">Contribuinte</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="contribuinte_id"
                                  [(ngModel)]="activeBean.contribuinte_id"
                                  [code]="activeBean.contribuinte_codigo"
                                  [description]="activeBean.contribuinte_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Contribuinte
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOVEICULO-->
            <div class="col-lg-6">
              <label class="col-lg control-label">Tipo de Veiculo</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipoveiculo_id"
                                  [(ngModel)]="activeBean.tipoveiculo_id"
                                  [code]="activeBean.tipoveiculo_codigo"
                                  [description]="activeBean.tipoveiculo_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo de Veiculo
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CATEGORIAVEICULO-->
            <div class="col-lg-6">
              <label class="col-lg control-label">Categoria de Veiculo</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="Categoria de Veiculo"
                                  [(ngModel)]="activeBean.categoriaveiculo_id"
                                  [code]="activeBean.categoriaveiculo_codigo"
                                  [description]="activeBean.categoriaveiculo_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item Categoria de Veiculo
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO FABRICANTE-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">fabricante</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_fabricante"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO MARCA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">marca</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_marca"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO MODELO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">modelo</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_modelo"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO COR-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">cor</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_cor"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO COMBUSTIVEL-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">combustivel</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_combustivel"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CHASSI-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Chassi</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_chassi"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO PLACA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Placa</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_placa"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO RENAVAM-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Renavam</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_renavam"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CILINDRADA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Cilindrada</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_cilindrada"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ESPECIE-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Especie</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_especie"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CAPACIDADE-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Capacidade</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_capacidade"
                       class="form-control "/>
              </div>
            </div>

            <!--**************************************************************************************************************-->

            <!--CAMPO POTENCIA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Potencia</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_potencia"
                       class="form-control "/>
              </div>
            </div>

            <!--**************************************************************************************************************-->

            <!--CAMPO MUNICIPIO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Municipio</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_municipio"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO RESTRICOES-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Restricoes</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_restricoes"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATAAQUISICAO-->
            <div class='form-group col-lg-4'
            >             <label class="col-lg control-label">Aquisicao</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="dataaquisicao"
                         [ngModel]="activeBean.veiculo_dataaquisicao |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ANOFABRICACAO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">anofabricacao</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_anofabricacao"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ANOIPVA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Ano IPVA</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_anoipva"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ANOLICENCIAMENTO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">ano Licenciamento</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_anolicenciamento"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ANOMODELO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Ano Modelo</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.veiculo_anomodelo"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>
          
        </div>
        
      </div>
      
    </div>
  </div> 
</div>

