<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2> <i class="fa fa-sign-in-alt"></i> Condominio </h2>

    <ol class="breadcrumb">
      <li>
        <a routerLink="/">Início</a>
      </li>

      <li class="active">
        <strong>Condominio</strong>
      </li>
    </ol>
  </div>
</div>
<!--**************************************************************************************************************-->


<!--BARRA DE FERRAMENTAS-->
<div class="row">

  <!--TOOL BAR-->
  <gov-tool-bar [reportGroups]="this.getReportList()" (buttonActionClick)="onButtonActionClick($event)" (filterRowValueChange)="onFilterValueChange($event)"></gov-tool-bar>
  <!--**************************************************************************************************************-->

  <!--WIZARD FILTER-->
  <gov-filter [grid]=this></gov-filter>
  <!--**************************************************************************************************************-->

</div>
<!--**************************************************************************************************************-->


<!--GRID-->
<div class="ibox-content l3-grid">
  <div class="row">

    <!--TABLE-->
    <div class="table-responsive">
      <table class="table table-striped table-bordered ">
        <thead>
        <tr>
          <th style="width: 2%">
            <label class="l3-checkbox">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </th>
          <th style="width: auto">Código</th>
          <th style="width: auto">Nome</th>
          <th style="width: auto">Contribuinte</th>
          <th style="width: auto">Data de Cadastro</th>
          <th style="width: auto">Área Lote</th>
          <th style="width: auto">Área Edificação</th>
          <th style="width: auto">Área Comum</th>
          <th style="width: auto">Área Privativa</th>
          <th style="width: auto">Área Coberta</th>
          <th style="width: auto">Área Coberta Comum</th>
          <th style="width: auto">Área Coberta Privativa</th>
          <th style="width: auto">Área Descoberta</th>
          <th style="width: auto">Área Descoberta Comum</th>
          <th style="width: auto">Área Descoberta Privativa</th>
          <th style="width: auto">Área Mezanino</th>
          <th style="width: auto">Área Mezanino Comum</th>
          <th style="width: auto">Área Mezanino Privativo</th>
          <th style="width: auto">Vagas Garagem</th>
          <th style="width: auto">Vagas Estacionamento</th>
          <th style="width: auto">Quantidade Unidades</th>
          <th style="width: auto">Lojas</th>
          <th style="width: auto">Salas</th>
          <th style="width: auto">Bairro</th>
          <th style="width: auto">Logradouro</th>
          <th style="width: auto">Quadra</th>
          <th style="width: auto">Lote</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let row of dataList">
          <td>
            <label class="l3-checkbox">
              <input type="checkbox"
                     [checked]="activeBean && (activeBean.id === row.id)"
                     (change)="onSelectionChange($event.target.checked, row)">
              <span class="checkmark"></span>
            </label>
          </td>
          <td>{{row.condominio_codigo}}</td>
          <td>{{row.condominio_nome}}</td>
          <td>{{row.contribuinte_nome }}</td>
          <td>{{row.condominio_datacadastro}}</td>
          <td>{{row.condominio_arealote}}</td>
          <td>{{row.condominio_areaedificacao}}</td>
          <td>{{row.condominio_areacomum}}</td>
          <td>{{row.condominio_areaprivativa}}</td>
          <td>{{row.condominio_areacoberta}}</td>
          <td>{{row.condominio_areacobertacomum}}</td>
          <td>{{row.condominio_areacobertaprivativa}}</td>
          <td>{{row.condominio_areadescoberta}}</td>
          <td>{{row.condominio_areadescobertacomum}}</td>
          <td>{{row.condominio_areadescobertaprivativa}}</td>
          <td>{{row.condominio_areamezanino}}</td>
          <td>{{row.condominio_areamezaninocomum}}</td>
          <td>{{row.condominio_areamezaninoprivativo}}</td>
          <td>{{row.condominio_vagasgaragem}}</td>
          <td>{{row.condominio_vagasestacionamento}}</td>
          <td>{{row.condominio_quantidadeunidades}}</td>
          <td>{{row.condominio_lojas}}</td>
          <td>{{row.condominio_salas}}</td>
          <td>{{row.bairro_nome }}</td>
          <td>{{row.logradouro_nome }}</td>
          <td>{{row.condominio_quadra}}</td>
          <td>{{row.condominio_lote}}</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
<!--**************************************************************************************************************-->
