<!--TOOLBAR-->
<div class="row">

  <gov-tool-bar [title]="'Operador'"
                (buttonActionClick)="onButtonActionClick($event)"
                (filterRowValueChange)="onFilterValueChange($event)">
  </gov-tool-bar>

  <gov-filter [grid]=this></gov-filter>

</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!--GRID-->
<div class="ibox-content l3-grid">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-bordered ">
        <thead>
        <tr>
          <th style="width: 2%">
            <label class="l3-checkbox">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </th>
          <th style="width: auto">CPNP/CPF</th>
          <th style="width: auto">Nome</th>
          <th style="width: auto">Email</th>
          <th style="width: auto">Tipo de Operador</th>
          <th style="width: auto">Data de Cadastro</th>
          <th style="width: auto">Validade</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let row of dataList">
          <td>
            <label class="l3-checkbox">
              <input type="checkbox"
                     [checked]="activeBean && (activeBean.id === row.id)"
                     (change)="onSelectionChange($event.target.checked, row)">
              <span class="checkmark"></span>
            </label>
          </td>
          <td>{{row.operador_cnpjcpf }}</td>
          <td>{{row.operador_nome}}</td>
          <td>{{row.operador_email}}</td>
          <td>{{row.tipooperador_nome}}</td>
          <td>{{row.operador_datacadastro | date: 'dd/MM/yyyy'}}</td>
          <td>{{row.operador_datavalidade | date: 'dd/MM/yyyy'}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->
