<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="form-name" style="float: left">
      <span class="toolbar-title">Tributo</span>
    </div>

    <div class="pull-right">
      <div class="btn-group">

        <button class="btn btn-primary"
                type="button" (click)="enableEdit()"
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>


        <button class="btn btn-primary"
                type="button"
                (click)="delete('este imóvel')">
          <i class="fas fa-eraser"></i> Apagar
        </button>

        <button class="btn btn-primary"
                (click)="this.save()"
                type="button"
                [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>

      <div class="btn-group">

        <div class="dropdown report-dropdown ">

          <button aria-expanded="true"
                  class="dropdown-toggle btn btn-primary"
                  data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
          </button>

          <ul class="dropdown-menu user-box  animated row">
            <a>
              <li>Açao 1</li>
            </a>
            <a>
              <li>Açao 2</li>
            </a>
            <a>
              <li>Açao 3</li>
            </a>
          </ul>

        </div>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button>

          <div class="input-group-append">
            <div class="dropdown report-dropdown">
              <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
                <span></span>
              </button>

              <ul class="dropdown-menu user-box  animated row">
                <a>
                  <li>Relatorio 1</li>
                </a>
                <a>
                  <li>Relatorio 2</li>
                </a>
                <a>
                  <li>Relatorio 3</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary"
              type="button"
              (click)="openGrid()">
        <i class="fas fa-times-circle"></i> Fechar
      </button>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->


<!--CONTAINER DO FORM-->
<div class="col-lg-12 container-form">
  <div class="l3-form" style="">
    <div class="row" >

      <!--FORM-->
      <div class="col-lg-12">

        <!--BOX MAIN-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Dados Principais</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO CODIGO-->
            <div class="form-group col-lg-2">
              <label class="col-lg control-label">Código</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.tributo_codigo"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NOME-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Nome</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.tributo_nome"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->
            <!--CAMPO NOMEREDUZIDO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Nome Reduzido</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.tributo_nomereduzido"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO RECEITA-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Receita</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="receita"
                                  [(ngModel)]="activeBean.receita_id"
                                  [code]="activeBean.receita_codigo"
                                  [description]="activeBean.receita_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Receita
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO JUROSRECEITA-->
            <div class="form-group col-lg-2">
              <label class="col-lg control-label">Juros Receita</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.tributo_jurosreceita"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DIVIDAATIVA-->
            <div class="form-group col-lg-2">
              <label class="col-lg control-label">Divida Ativa</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.tributo_dividaativa"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO JUROSDIVIDAATIVA-->
            <div class="form-group col-lg-2">
              <label class="col-lg control-label">Juros Divida Ativa</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.tributo_jurosdividaativa"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO BANCOCONTRATO-->
            <div class="form-group col-lg-5">
              <label class="col-lg control-label">Banco Contrato</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="bancocontrato"
                                  [(ngModel)]="activeBean.bancocontrato_id"
                                  [code]="activeBean.bancocontrato_codigo"
                                  [description]="activeBean.bancocontrato_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Banco Contrato
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>

      </div>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->
