<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="pull-right">
    <div class="btn-group">

      <button class="btn btn-primary"
              type="button" (click)="enableEdit()"
              [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
        <i class="fas fa-pencil-alt"></i> Editar
      </button>


      <button class="btn btn-primary"
              type="button"
              (click)="delete('este imóvel')">
        <i class="fas fa-eraser"></i> Apagar
      </button>

      <button class="btn btn-primary"
              (click)="this.save()"
              type="button"
              [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
        <i class="fas fa-save"></i> Salvar
      </button>
    </div>

    <div class="btn-group">

      <div class="dropdown report-dropdown ">

        <button aria-expanded="true"
                class="dropdown-toggle btn btn-primary"
                data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
        </button>

        <ul class="dropdown-menu user-box  animated row">
          <a>
            <li>Açao 1</li>
          </a>
          <a>
            <li>Açao 2</li>
          </a>
          <a>
            <li>Açao 3</li>
          </a>
        </ul>

      </div>
    </div>

    <div class="btn-group">
      <div class="input-group">
        <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button>

        <div class="input-group-append">
          <div class="dropdown report-dropdown">
            <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
              <span></span>
            </button>

            <ul class="dropdown-menu user-box  animated row">
              <a>
                <li>Relatorio 1</li>
              </a>
              <a>
                <li>Relatorio 2</li>
              </a>
              <a>
                <li>Relatorio 3</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary"
            type="button"
            (click)="openGrid()">
      <i class="fas fa-times-circle"></i> Fechar
    </button>

  </div>
</div>
</div>
<!--**************************************************************************************************************-->


<!--FORM-->
<div class="ibox-content l3-form">

  <!--MAIN-->
  <div class="ibox">

    <!--TITLE-->
    <div class="ibox-title">
      <h5>Débito</h5>

      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>
    </div>

    <!--CONTENT-->
    <div class="ibox-content">

      <!--CAMPO REFERENCIA-->
      <div class="form-group col-sm-9">
        <label class=" col-lg control-label">Referência</label>
        <div class="col-sm-12">
          <gov-lookup-field class="form-control input-sm" name="unidadegestora_id"
                            [(ngModel)]="activeBean.referencia_id"
                            [code]="activeBean.referencia_codigo"
                            [description]="activeBean.referencia_nome"
                            [readonly]="operation==Operation.SELECT"
                            (lookupCodeChange)="onLookupCodeChange($event)">Selecione a referência
          </gov-lookup-field>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO TIPOCONTRIBUINTE-->
      <div class="form-group col-sm-3">
        <label class=" col-lg control-label">Tipo de Referência</label>
        <div class="col-sm-12">
          <select [disabled]="operation==Operation.SELECT"
                  [(ngModel)]="activeBean.debito_tipocontribuinte"
                  class="form-control ">
            <option>Contribuinte</option>
            <option>Empresa</option>
            <option>Imóvel</option>
            <option>Concessão</option>
          </select>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO UNIDADEGESTORA-->
      <div class="form-group col-sm-6">
        <label class=" col-lg control-label">Unidade Gestora</label>
        <div class="col-sm-12">
          <gov-lookup-field class="form-control input-sm" name="unidadegestora"
                            [(ngModel)]="activeBean.unidadegestora_id"
                            [code]="activeBean.unidadegestora_codigo"
                            [description]="activeBean.unidadegestora_nome"
                            [readonly]="operation==Operation.SELECT"
                            (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Unidade Gestora
          </gov-lookup-field>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO TRIBUTO-->
      <div class="form-group col-sm-6">
        <label class=" col-lg control-label">Tributo</label>
        <div class="col-sm-12">
          <gov-lookup-field class="form-control input-sm" name="tributo"
                            [(ngModel)]="activeBean.tributo_id"
                            [code]="activeBean.tributo_codigo"
                            [description]="activeBean.tributo_nome"
                            [readonly]="operation==Operation.SELECT"
                            (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tributo
          </gov-lookup-field>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO TIPODEBITO-->
      <div class="form-group col-sm-3">
        <label class=" col-lg control-label">Tipo de Debito</label>
        <div class="col-sm-12">
          <gov-lookup-field class="form-control input-sm" name="tipodebito"
                            [(ngModel)]="activeBean.tipodebito_id"
                            [code]="activeBean.tipodebito_codigo"
                            [description]="activeBean.tipodebito_nome"
                            [readonly]="operation==Operation.SELECT"
                            (lookupCodeChange)="onLookupCodeChange($event)">Selecione Tipo de Debito
          </gov-lookup-field>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO DATA-->
      <div class='form-group col-sm-3'
      ><label class=" col-lg control-label">Data</label>
        <div class="col-sm-12">
          <div class="input-group date">
            <input type="text"
                   class="form-control input-sm"
                   name="data"
                   [ngModel]="activeBean.debito_data |date:'dd/MM/yyyy'"
                   [readonly]="operation==Operation.SELECT"/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO ALIQUOTA-->
      <div class="form-group col-sm-2">
        <label class="col-lg control-label">Aliquota</label>
        <div class="col-sm-12">
          <input type="number"
                 [readonly]="operation==Operation.SELECT"
                 [(ngModel)]="activeBean.debito_aliquota"
                 class="form-control "/>
        </div>
      </div>

      <!--**************************************************************************************************************-->
      <!--CAMPO BASECALCULO-->
      <div class="form-group col-sm-2">
        <label class=" col-lg control-label">Base de Calculo</label>
        <div class="col-sm-12">
          <input type="number"
                 [readonly]="operation==Operation.SELECT"
                 [(ngModel)]="activeBean.debito_basecalculo"
                 class="form-control "/>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO ANO-->
      <div class="form-group col-sm-2">
        <label class=" col-lg control-label">Ano</label>
        <div class="col-sm-12">
          <input type="number"
                 [readonly]="operation==Operation.SELECT"
                 [(ngModel)]="activeBean.debito_ano"
                 class="form-control "/>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO VALOR-->
      <div class="form-group col-sm-2">
        <label class=" col-lg control-label">Valor</label>
        <div class="col-sm-12">
          <input type="number"
                 [readonly]="operation==Operation.SELECT"
                 [(ngModel)]="activeBean.debito_valor"
                 class="form-control "/>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO PROCESSO-->
      <div class="form-group col-sm-3">
        <label class=" col-lg control-label">Processo</label>
        <div class="col-sm-12">
          <input type="text"
                 [readonly]="operation==Operation.SELECT"
                 [(ngModel)]="activeBean.debito_processo"
                 class="form-control "/>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO NUMERO-->
      <div class="form-group col-sm-3">
        <label class=" col-lg control-label">numero</label>
        <div class="col-sm-12">
          <input type="number"
                 [readonly]="operation==Operation.SELECT"
                 [(ngModel)]="activeBean.debito_numero"
                 class="form-control "/>
        </div>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO DEBITO-->
      <div class="form-group col-sm-4">
        <app-lookup [isLocal]="true" [searchableFields]="['codigo','nome']" [fieldLabel]="'Debito'"></app-lookup>
      </div>
      <!--**************************************************************************************************************-->

      <!--CAMPO OBS-->
      <div class="form-group col-sm-12">
        <label class=" col-lg control-label">Obs</label>
        <div class="col-sm-12">
          <input type="text"
                 [readonly]="operation==Operation.SELECT"
                 [(ngModel)]="activeBean.debito_obs"
                 class="form-control "/>
        </div>
      </div>
      <!--**************************************************************************************************************-->



    </div>

  </div>
  <!--**************************************************************************************************************-->


  <!--ITEM-->
  <div class="ibox">

    <!--TITLE-->
    <div class="ibox-title">

      <h5>Parcelas</h5>
      <button class="btn btn-xs btn-primary pull-right"
              title="Adicionar"
              [disabled]="operation===Operation.SELECT"
              (click)="addParcela()">
        <i class="fas fa-file"></i></button>

      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>

    </div>

    <!--CONTENT-->
    <div class="ibox-content">

      <div class="ibox-content l3-grid">
        <div class="row">
          <div class="table-responsive">

            <table class="table  table-hover green">
              <thead>
                <tr>
                  <th style="width: 2%">
                    <label class="l3-checkbox">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </th>
                  <th style="width: 20%">Parcela</th>
                  <th style="width: 20%">Data de Vencimento</th>
                  <th style="width: 20%">Valor</th>
                  <th style="width: 20%">Status</th>
                  <th style="width: 20%">Ações</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let row of activeBean.debito_parcelas">
                <td style="width: 2%">
                  <label class="l3-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                </td>

                <td>
                  <div [class.hide]="operation !== Operation.SELECT">
                    {{row.debitoparcela_parcela}}
                  </div>
                  <input type="number" [class.hide]="operation===Operation.SELECT"
                         [(ngModel)]="row.debitoparcela_parcela"
                         class="form-control "/>
                </td>

                <td>
                  <div [class.hide]="operation !== Operation.SELECT">
                    {{row.debitoparcela_datavencimento | date: 'dd/MM/yyyy'}}
                  </div>
                  <div class="input-group date" [class.hide]="operation===Operation.SELECT">
                    <input type="text"
                           class="form-control input-sm"
                           name="datavencimento"
                           [ngModel]="row.debitoparcela_datavencimento | date:'dd/MM/yyyy' "/>
                    <span class="input-group-addon">
                    <i class="fa fa-calendar"></i></span>
                  </div>
                </td>

                <td>
                  <div [class.hide]="operation !== Operation.SELECT">
                    {{row.debitoparcela_valor | number:'1.2-2'}}
                  </div>
                  <input type="number" [class.hide]="operation===Operation.SELECT"
                         [(ngModel)]="row.debitoparcela_valor"
                         class="form-control "/>
                </td>

                <td>
                  <div [class.hide]="operation !== Operation.SELECT">
                    {{row.statusdebito_nome }}
                  </div>
                  <gov-lookup-field [class.hide]="operation===Operation.SELECT"
                                    class="form-control input-sm" name="statusdebito"
                                    [(ngModel)]="row.statusdebito_id"
                                    [code]="row.statusdebito_codigo"
                                    [description]="row.statusdebito_nome"
                                    (lookupCodeChange)="onLookupCodeChange($event)"
                                    (descriptionChange)="row.statusdebito_nome = $event.toString()">Selecione o status
                  </gov-lookup-field>
                </td>

                <td>
                  <button class="btn btn-xs btn-danger"
                          [disabled]="operation===Operation.SELECT"
                          title="cancelar"><i class="fas fa-close"></i>
                  </button>
                </td>

              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!--**************************************************************************************************************-->

</div>
<!--**************************************************************************************************************-->
