<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
      <div class="col-lg-12"> 
          <h2>Peca</h2> 

          <ol class="breadcrumb"> 
              <li> 
                  <a routerLink="/">Início</a> 
              </li> 

              <li> 
                  <a routerLink="/peca">Peca</a> 
              </li> 

              <li class="active"> 
                   <strong>{{activeBean.id}}</strong> 
              </li> 
          </ol> 

      </div> 

      </div> 

        <!--TOOLBAR--> 
<div class="row"> 
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar> 
 
    <div class="btn-group"> 
 
      <button class="btn btn-primary" 
        type="button" (click)="enableEdit()" 
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE"> 
        <i class="fas fa-pencil-alt"></i> Editar</button> 
 
 
      <button class="btn btn-primary" 
        type="button" 
        (click)="delete('este imóvel')"> 
        <i class="fas fa-eraser"></i> Apagar</button> 
 
      <button class="btn btn-primary"  
         (click)="this.save()"  
         type="button" 
        [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE"> 
         <i class="fas fa-save"></i> Salvar</button> 
    </div> 
 
    <div class="btn-group"> 
 
      <div class="dropdown report-dropdown "> 
 
        <button aria-expanded="true" 
        class="dropdown-toggle btn btn-primary" 
        data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos 
                </button> 
 
        <ul class="dropdown-menu user-box  animated row"> 
          <a><li>Açao 1</li></a> 
          <a><li>Açao 2</li></a> 
          <a><li>Açao 3</li></a> 
        </ul> 
 
      </div> 
    </div> 
 
    <div class="btn-group"> 
      <div class="input-group"> 
        <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button> 
 
        <div class="input-group-append"> 
          <div class="dropdown report-dropdown"> 
            <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"> 
              <span></span> 
            </button> 
 
            <ul class="dropdown-menu user-box  animated row"> 
              <a><li>Relatorio 1</li></a> 
              <a><li>Relatorio 2</li></a> 
              <a><li>Relatorio 3</li></a> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 
 
    <button class="btn btn-primary pull-right" 
        type="button" 
        (click)="openGrid()"> 
      <i class="fas fa-times-circle"></i> Fechar</button> 
 
  </div> 
  </div> 
<!--**************************************************************************************************************--> 
<div class="ibox-content l3-form"> 
      <div  class="form-horizontal row"> 
         <!--CAMPO CENTIMETROS--> 
         <div class="form-group col-sm-4"> 
             <label class="col-sm-2 control-label">centimetros</label> 
             <div class="col-sm-10"> 
                 <input type="text" 
                        class="form-control" 
                        [(ngModel)]="activeBean.centimetros" />
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO COLUNAS--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">colunas</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.colunas"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO DURACAO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">duracao</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.duracao"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO PECA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">peca</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.peca"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO TITULO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">titulo</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.titulo"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO FORMATO_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">formato_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="formato_id" 
                                   [(ngModel)]="activeBean.formato_id_id" 
                                   [code]="activeBean.formato_id_codigo" 
                                   [description]="activeBean.formato_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item formato_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO FORMATOREVISTA_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">formatorevista_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="formatorevista_id" 
                                   [(ngModel)]="activeBean.formatorevista_id_id" 
                                   [code]="activeBean.formatorevista_id_codigo" 
                                   [description]="activeBean.formatorevista_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item formatorevista_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO MATERIAL_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">material_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="material_id" 
                                   [(ngModel)]="activeBean.material_id_id" 
                                   [code]="activeBean.material_id_codigo" 
                                   [description]="activeBean.material_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item material_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO PLANOMIDIA_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">planomidia_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="planomidia_id" 
                                   [(ngModel)]="activeBean.planomidia_id_id" 
                                   [code]="activeBean.planomidia_id_codigo" 
                                   [description]="activeBean.planomidia_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item planomidia_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO TIPOMIDIA_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">tipomidia_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="tipomidia_id" 
                                   [(ngModel)]="activeBean.tipomidia_id_id" 
                                   [code]="activeBean.tipomidia_id_codigo" 
                                   [description]="activeBean.tipomidia_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item tipomidia_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO TIPOMIDIADIGITAL_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">tipomidiadigital_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="tipomidiadigital_id" 
                                   [(ngModel)]="activeBean.tipomidiadigital_id_id" 
                                   [code]="activeBean.tipomidiadigital_id_codigo" 
                                   [description]="activeBean.tipomidiadigital_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item tipomidiadigital_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
      </div> 
</div>

