<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Condominio</h2>

    <ol class="breadcrumb">
      <li>
        <a routerLink="/">Início</a>
      </li>

      <li>
        <a routerLink="/condominio">Condominio</a>
      </li>

      <li class="active">
        <strong>{{activeBean.contribuinte_nome}}</strong>
      </li>
    </ol>

  </div>
</div>
<!--*****************************************************************************************************************-->


<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="btn-group">

      <button class="btn btn-primary"
              type="button"
              (click)="enableEdit()"
              [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
        <i class="fas fa-pencil-alt"></i> Editar</button>


      <button class="btn btn-primary"
              type="button"
              (click)="delete('este imóvel')"
              [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
        <i class="fas fa-eraser"></i> Apagar</button>

      <button class="btn btn-primary"
              (click)="this.save()"
              type="button"
              [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
        <i class="fas fa-save"></i> Salvar</button>

    </div>

    <div class="btn-group">

      <div class="dropdown report-dropdown ">

        <button aria-expanded="true"
                class="dropdown-toggle btn btn-primary"
                data-toggle="dropdown"
                href="#">
          <i class="fas fa-external-link-square-alt"></i>Ações</button>

        <ul class="dropdown-menu user-box  animated row">
          <a><li>Açao 1</li></a>
          <a><li>Açao 2</li></a>
          <a><li>Açao 3</li></a>
        </ul>

      </div>

    </div>

    <div class="btn-group">
      <div class="input-group">
        <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i>Imprimir</button>

        <div class="input-group-append">
          <div class="dropdown report-dropdown">
            <button aria-expanded="true"
                    class="dropdown-toggle btn btn-primary"
                    data-toggle="dropdown"
                    href="#">
              <span></span>
            </button>

            <ul class="dropdown-menu user-box  animated row">
              <a><li>Relatorio 1</li></a>
              <a><li>Relatorio 2</li></a>
              <a><li>Relatorio 3</li></a>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <button class="btn btn-primary pull-right"
            type="button"
            (click)="openGrid()">
      <i class="fas fa-times-circle"></i> Fechar</button>

  </div>
</div>
<!--**************************************************************************************************************-->


<!--CONTAINER DO FORM-->
<div class="ibox-content l3-form">
  <div  class="form-horizontal row">

    <!--CAMPO CODIGO-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Código</label>
      <div class="col-lg">
        <input type="text"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_codigo"
               class="form-control "/>
      </div>

    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO NOME-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Nome</label>
      <div class="col-lg">
        <input type="text"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_nome"
               class="form-control "/>
      </div>
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO CONTRIBUINTE-->
    <div class="col-sm-6">

      <label class="col-lg control-label">Contribuinte</label>
      <div class="col-lg">
        <gov-lookup-field class="form-control input-sm" name="contribuinte"
                          [(ngModel)]="activeBean.contribuinte_id"
                          [code]="activeBean.contribuinte_codigo"
                          [description]="activeBean.contribuinte_nome"
                          [readonly]="operation==Operation.SELECT"
                          (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Contribuinte
        </gov-lookup-field>
      </div>

    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO DATACADASTRO-->
    <div class='form-group col-sm-4'>
      
      <label class="col-lg control-label">Data de Cadastro</label>
      <div class="col-lg">
        <div class="input-group date">
          <input type="text"
                 class="form-control input-sm"
                 name="datacadastro"
                 [ngModel]="activeBean.condominio_datacadastro |date:'dd/MM/yyyy'"
                 [readonly]="operation==Operation.SELECT"/>
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREALOTE-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Lote</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_arealote"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREAEDIFICACAO-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Edificação</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areaedificacao"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREACOMUM-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Comum</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areacomum"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREAPRIVATIVA-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Privativa</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areaprivativa"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREACOBERTA-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Coberta</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areacoberta"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREACOBERTACOMUM-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Coberta Comum</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areacobertacomum"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREACOBERTAPRIVATIVA-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Coberta Privativa</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areacobertaprivativa"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREADESCOBERTA-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Descoberta</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areadescoberta"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREADESCOBERTACOMUM-->
    <div class="form-group col-sm-4">
      
      <label class="col-lg control-label">Área Descoberta Comum</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areadescobertacomum"
               class="form-control "/>
      </div>
      
    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO AREADESCOBERTAPRIVATIVA-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Área Descoberta Privativa</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areadescobertaprivativa"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO AREAMEZANINO-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Área Mezanino</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areamezanino"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO AREAMEZANINOCOMUM-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Área Mezanino Comum</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areamezaninocomum"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO AREAMEZANINOPRIVATIVO-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Área Mezanino Privativo</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_areamezaninoprivativo"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO VAGASGARAGEM-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Vagas Garagem</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_vagasgaragem"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO VAGASESTACIONAMENTO-->
    <div class="form-group col-sm-4">
      <label class="col-lg control-label">Vagas Estacionamento</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_vagasestacionamento"
               class="form-control "/>
      </div>
    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO QUANTIDADEUNIDADES-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">QTD de Unidades</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_quantidadeunidades"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO LOJAS-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Lojas</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_lojas"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO SALAS-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Salas</label>
      <div class="col-lg">
        <input type="number"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_salas"
               class="form-control "/>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO BAIRRO-->
    <div class="col-sm-6">

      <label class="col-lg control-label">Bairro</label>
      <div class="col-lg">
        <gov-lookup-field class="form-control input-sm" name="bairro"
                          [(ngModel)]="activeBean.bairro_id"
                          [code]="activeBean.bairro_codigo"
                          [description]="activeBean.bairro_nome"
                          [readonly]="operation==Operation.SELECT"
                          (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Bairro
        </gov-lookup-field>
      </div>

    </div>

    <!--**************************************************************************************************************-->

    <!--CAMPO QUADRA-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Quadra</label>
      <div class="col-lg">
        <input type="text"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_quadra"
               class="form-control "/>
      </div>

    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO LOTE-->
    <div class="form-group col-sm-4">

      <label class="col-lg control-label">Lote</label>
      <div class="col-lg">
        <input type="text"
               [readonly]="operation==Operation.SELECT"
               [(ngModel)]="activeBean.condominio_lote"
               class="form-control "/>
      </div>

    </div>
    <!--**************************************************************************************************************-->

    <!--CAMPO TRB_LOGRADOURO_ID-->
    <div class="col-sm-6">

      <label class="col-lg control-label">Logradouro</label>
      <div class="col-lg">
        <gov-lookup-field class="form-control input-sm" name="logradouro"
                          [(ngModel)]="activeBean.logradouro_id"
                          [code]="activeBean.logradouro_codigo"
                          [description]="activeBean.logradouro_nome"
                          [readonly]="operation==Operation.SELECT"
                          (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Logradouro
        </gov-lookup-field>
      </div>

    </div>
    <!--**************************************************************************************************************-->
  </div>
</div>
<!--**************************************************************************************************************-->
