<!--TOOLBAR-->
<div class="row">

  <gov-tool-bar [title]="'Banco'"
                (buttonActionClick)="onButtonActionClick($event)"
                (filterRowValueChange)="onFilterValueChange($event)">
  </gov-tool-bar>

  <gov-filter [grid]=this></gov-filter>

</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!--GRID-->
<div class="ibox-content l3-grid"> 
     <div class="row"> 
         <div class="table-responsive"> 
             <table class="table table-hover table-bordered ">
                 <thead> 
                     <tr> 
                         <th style="width: 2%"> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </th> 
                         <th style="width: auto">Codigo</th>
                         <th style="width: auto">Nome</th>
                     </tr> 
                 </thead> 

                 <tbody> 
                     <tr *ngFor="let row of dataList"> 
                         <td> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox" 
                                         [checked]="activeBean && (activeBean.id === row.id)" 
                                         (change)="onSelectionChange($event.target.checked, row)"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </td> 
                     <td>{{row.banco_codigo}}</td> 
                     <td>{{row.banco_nome}}</td> 
                     </tr> 
                 </tbody> 
             </table> 

         </div> 
     </div> 
</div> 
