/*
$primary: #2f4050;
$secondary: #1a2d41;
$active: #1e2e3d;
*/

.form-input-auto {
  width: auto;
}


.table-striped tbody tr:nth-of-type(odd) {
  background-color: #e3eaf3c2;
}

.l3-toolbar {
  background-color: #182f49;
}


.btn-primary{
  background-color: #46678c;
  border-color: #9c9c9c;
}

.btn-primary:hover ,.btn-primary:focus{
  background-color: #1a2d41;
  border-color: #1a2d41;
}

.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #1e2e3d;
  border-color: #1e2e3d;
}

.date .input-group-addon {
  background-color: #2f4050;
}

.l3_lookup .input-group-addon {
  background-color: #1ab394;
  color: #fff;
}
