<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="form-name" style="float: left">
      <span class="toolbar-title">Serviço Tomado</span>
    </div>

    <div class="pull-right">
      <div class="btn-group">

        <button class="btn btn-primary"
                type="button" (click)="enableEdit()"
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>


        <button class="btn btn-primary"
                type="button"
                (click)="delete('este imóvel')">
          <i class="fas fa-eraser"></i> Apagar
        </button>

        <button class="btn btn-primary"
                (click)="this.save()"
                type="button"
                [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>

      <div class="btn-group">

        <div class="dropdown report-dropdown ">

          <button aria-expanded="true"
                  class="dropdown-toggle btn btn-primary"
                  data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
          </button>

          <ul class="dropdown-menu user-box  animated row">
            <a>
              <li>Açao 1</li>
            </a>
            <a>
              <li>Açao 2</li>
            </a>
            <a>
              <li>Açao 3</li>
            </a>
          </ul>

        </div>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button>

          <div class="input-group-append">
            <div class="dropdown report-dropdown">
              <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
                <span></span>
              </button>

              <ul class="dropdown-menu user-box  animated row">
                <a>
                  <li>Relatorio 1</li>
                </a>
                <a>
                  <li>Relatorio 2</li>
                </a>
                <a>
                  <li>Relatorio 3</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary"
              type="button"
              (click)="openGrid()">
        <i class="fas fa-times-circle"></i> Fechar
      </button>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->


<!--CONTAINER DO FORM-->
<div class="col-lg-12 container-form">
  <div class="l3-form" style="">
    <div class="row" >

      <!--FORM-->
      <div class="col-lg-12">

        <!--BOX MAIN-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Dados Principais</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO DATAOPERACAO-->
            <div class='form-group col-lg-3'>
              <label class="col-lg control-label">Data Operação</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="dataoperacao"
                         [ngModel]="activeBean.servicotomado_dataoperacao |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATALANCAMENTO-->
            <div class='form-group col-lg-3'>
              <label class="col-lg control-label">Data do Lançamento</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.servicotomado_datalancamento |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NATUREZATRIBUTACAO-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Natureza de Tributação</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="naturezatributacao"
                                  [(ngModel)]="activeBean.naturezatributacao_id"
                                  [code]="activeBean.naturezatributacao_codigo"
                                  [description]="activeBean.naturezatributacao_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a natureza de Tributação
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPODOCUMENTOFISCAL-->
            <div class="form-group col-lg-5">
              <label class="col-lg control-label">Tipo de Dcumento Fiscal</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipodocumentofiscal"
                                  [(ngModel)]="activeBean.tipodocumentofiscal_id"
                                  [code]="activeBean.tipodocumentofiscal_codigo"
                                  [description]="activeBean.tipodocumentofiscal_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo de Documento
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO MODULOSERVICOTOMADO-->
            <div class="form-group col-lg-7">
              <label class="col-lg control-label">Modulo Serviço Tomado</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="moduloservicotomado"
                                  [(ngModel)]="activeBean.moduloservicotomado_id"
                                  [code]="activeBean.moduloservicotomado_codigo"
                                  [description]="activeBean.moduloservicotomado_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Modulo de Serviço Tomado
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>
          
        </div>
        <!--**************************************************************************************************************-->

        <!--BOX DADOS DA NOTA-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Dados da Nota</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO NUMERO-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Número</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_numero"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO REGISTRO-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Registro</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_registro"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOREGISTRO-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Tipo de Registro</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_tiporegistro"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO SERIE-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Série</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_serie"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO EMITENTE-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Emitente</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="contribuinte"
                                  [(ngModel)]="activeBean.emitente_id"
                                  [code]="activeBean.emitente_codigo"
                                  [description]="activeBean.emitente_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Emitente
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DESTINATARIO-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Destinatário</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="contribuinte"
                                  [(ngModel)]="activeBean.destinatario_id"
                                  [code]="activeBean.destinatario_codigo"
                                  [description]="activeBean.destinatario_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Destinatário
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO SERVICO-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Serviço</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="servico"
                                  [(ngModel)]="activeBean.servico_id"
                                  [code]="activeBean.servico_codigo"
                                  [description]="activeBean.servico_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Serviço
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOCALSERVICO-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Local do Serviço</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="cidade"
                                  [(ngModel)]="activeBean.localservico_id"
                                  [code]="activeBean.localservico_codigo"
                                  [description]="activeBean.localservico_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Local do Serviço
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO STATUSNOTAFISCAL-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Status Notafiscal</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="statusnotafiscal"
                                  [(ngModel)]="activeBean.statusnotafiscal_id"
                                  [code]="activeBean.statusnotafiscal_codigo"
                                  [description]="activeBean.statusnotafiscal_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Status da Nota
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO OBS-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Observações</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_obs"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>
        <!--**************************************************************************************************************-->

        <!--BOX CUSTO DA NOTA-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Custos da Nota</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO ALIQUOTA-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Alíquota</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_aliquota"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALOR-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valor"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORCOFINS-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor COFINS</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valorcofins"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORCSLL-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor CSLL</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valorcsll"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORDEDUCOES-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor Deduções</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valordeducoes"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORINSS-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor INSS</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valorinss"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORIRRF-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor IRRF</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valorirrf"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORISS-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor ISS</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valoriss"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALOROUTRASRETENCOES-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor Outras Retenções</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valoroutrasretencoes"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORPIS-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor PIS</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valorpis"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORTOTAL-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Valor Total</label>
              <div class="col-lg">
                <input type="number"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.servicotomado_valortotal"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ISSRETIDO-->
            <div class='form-group col-lg-3'>
              <div class='row div_checkbox'>
                <label class="l3-checkbox">
                  <input type="checkbox"
                         [ngModel]="activeBean.servicotomado_issretido "
                         [checked]="activeBean.servicotomado_issretido "
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="checkmark"></span>
                </label>
                <label class="col-lg control-label">ISS Retido</label>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>
        
        </div>
        <!--**************************************************************************************************************-->

      </div>
      
    </div>
  </div>
</div>

