<!--TOOLBAR-->
<div class="row">

  <gov-tool-bar [title]="'Operador Empresa'"
                (buttonActionClick)="onButtonActionClick($event)"
                (filterRowValueChange)="onFilterValueChange($event)">
  </gov-tool-bar>

  <gov-filter [grid]=this></gov-filter>

</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!--GRID-->
<div class="ibox-content l3-grid">
  <div class="row">
    <div class="table-responsive">

      <table class="table table-hover table-bordered ">
        <thead>
          <tr>
            <th style="width: 2%">
              <label class="l3-checkbox">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </th>
            <th style="width: auto">CPF/CNPJ</th>
            <th style="width: auto">Nome</th>
            <th style="width: auto">Tipo de Operador</th>
            <th style="width: auto">Empresa</th>
            <th style="width: auto">Data do Cadastro</th>
            <th style="width: auto">Válidade</th>
            <th style="width: auto">Ativo</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of dataList">
            <td>
              <label class="l3-checkbox">
                <input type="checkbox"
                       [checked]="activeBean && (activeBean.id === row.id)"
                       (change)="onSelectionChange($event.target.checked, row)">
                <span class="checkmark"></span>
              </label>
            </td>
            <td>{{row.operadorempresa_cnpjcpf}}</td>
            <td>{{row.operadorempresa_nome}}</td>
            <td>{{row.tipooperador_nome }}</td>
            <td>{{row.empresa_nome }}</td>
            <td>{{row.operadorempresa_datacadastro | date: 'dd/MM/yyyy'}}</td>
            <td>{{row.operadorempresa_datavalidade | date: 'dd/MM/yyyy'}}</td>
            <td>{{row.operadorempresa_ativo}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div> 
