<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
     <div class="col-lg-12"> 
         <h2> <i class="fa fa-sign-in-alt"></i> Itiv </h2> 

         <ol class="breadcrumb"> 
             <li> 
                 <a routerLink="/">Início</a> 
             </li> 

             <li class="active"> 
               <strong>Itiv</strong> 
             </li>
         </ol> 
     </div> 

</div> 

<!--**************************************************************************************************************--> 

<div class="row"> 
   <gov-tool-bar (buttonActionClick)="onButtonActionClick($event)" (filterRowValueChange)="onFilterValueChange($event)"></gov-tool-bar> 
    <gov-filter [grid]=this></gov-filter> 
</div> 
<div class="ibox-content l3-grid"> 
     <div class="row"> 
         <div class="table-responsive"> 
             <table class="table table-striped table-bordered "> 
                 <thead> 
                     <tr> 
                         <th style="width: 2%"> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </th> 
                         <th style="width: auto">datalancamento</th> 
                         <th style="width: auto">ano</th> 
                         <th style="width: auto">trb_imovel_id</th> 
                         <th style="width: auto">trb_cartorio_id</th> 
                         <th style="width: auto">trb_tramitente_id</th> 
                         <th style="width: auto">trb_adquirente_id</th> 
                         <th style="width: auto">numero</th> 
                         <th style="width: auto">itivnatureza</th> 
                         <th style="width: auto">areaconstrucao</th> 
                         <th style="width: auto">registro</th> 
                         <th style="width: auto">folha</th> 
                         <th style="width: auto">livro</th> 
                         <th style="width: auto">status</th> 
                         <th style="width: auto">trb_motivostatus_id</th> 
                         <th style="width: auto">hashcontrol</th> 
                         <th style="width: auto">areaterreno</th> 
                         <th style="width: auto">aliquotaavista</th> 
                         <th style="width: auto">aliquotafinanciado</th> 
                         <th style="width: auto">valoravista</th> 
                         <th style="width: auto">valorfinanciado</th> 
                         <th style="width: auto">valorimposto</th> 
                         <th style="width: auto">valorvenalterreno</th> 
                         <th style="width: auto">valorvenalconstrucao</th> 
                         <th style="width: auto">valorvenalexcedente</th> 
                         <th style="width: auto">valorvenaltotal</th> 
                         <th style="width: auto">obs</th> 
                     </tr> 
                 </thead> 

                 <tbody> 
                     <tr *ngFor="let row of dataList"> 
                         <td> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox" 
                                         [checked]="activeBean && (activeBean.id === row.id)" 
                                         (change)="onSelectionChange($event.target.checked, row)"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </td> 
                     <td>{{row.itiv_datalancamento}}</td> 
                     <td>{{row.itiv_ano}}</td> 
                     <td>{{row.trb_imovel_id_nome }}</td> 
                     <td>{{row.itiv_trb_cartorio_id}}</td> 
                     <td>{{row.trb_tramitente_id_nome }}</td> 
                     <td>{{row.trb_adquirente_id_nome }}</td> 
                     <td>{{row.itiv_numero}}</td> 
                     <td>{{row.itiv_itivnatureza}}</td> 
                     <td>{{row.itiv_areaconstrucao}}</td> 
                     <td>{{row.itiv_registro}}</td> 
                     <td>{{row.itiv_folha}}</td> 
                     <td>{{row.itiv_livro}}</td> 
                     <td>{{row.itiv_status}}</td> 
                     <td>{{row.itiv_trb_motivostatus_id}}</td> 
                     <td>{{row.itiv_hashcontrol}}</td> 
                     <td>{{row.itiv_areaterreno}}</td> 
                     <td>{{row.itiv_aliquotaavista}}</td> 
                     <td>{{row.itiv_aliquotafinanciado}}</td> 
                     <td>{{row.itiv_valoravista}}</td> 
                     <td>{{row.itiv_valorfinanciado}}</td> 
                     <td>{{row.itiv_valorimposto}}</td> 
                     <td>{{row.itiv_valorvenalterreno}}</td> 
                     <td>{{row.itiv_valorvenalconstrucao}}</td> 
                     <td>{{row.itiv_valorvenalexcedente}}</td> 
                     <td>{{row.itiv_valorvenaltotal}}</td> 
                     <td>{{row.itiv_obs}}</td> 
                     </tr> 
                 </tbody> 
             </table> 

         </div> 
     </div> 
</div> 
