<div id="formato" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                INICIAR NOVA CAMPANHA
            </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" (click)="saveEntity()" aria-label="Send Message">Salvar Formato</button>

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">


        <form [formGroup]="activeForm" (ngSubmit)="saveEntity()"  class="  p-24 mr-24" fxLayout="column" fxFlex name="form">

            <div class="p-24 " >
                <mat-card style=" border-left: #f5564a solid 9px;">

                    <div fxLayout="row" class="w-100-p">

                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="100">
                            <mat-label>Formato</mat-label>
                            <input matInput placeholder=""
                                   name="nome"
                                   formControlName="nome">
                        </mat-form-field>

                    </div>

                </mat-card>
            </div>

        </form>


    </div>
    <!-- / CONTENT -->


</div>
