<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
     <div class="col-lg-12"> 
         <h2> <i class="fa fa-sign-in-alt"></i> CreditoBancario </h2> 

         <ol class="breadcrumb"> 
             <li> 
                 <a routerLink="/">Início</a> 
             </li> 

             <li class="active"> 
               <strong>CreditoBancario</strong> 
             </li>
         </ol> 
     </div> 

</div> 

<!--**************************************************************************************************************--> 

<div class="row"> 
   <gov-tool-bar (buttonActionClick)="onButtonActionClick($event)" (filterRowValueChange)="onFilterValueChange($event)"></gov-tool-bar> 
    <gov-filter [grid]=this></gov-filter> 
</div> 
<div class="ibox-content l3-grid"> 
     <div class="row"> 
         <div class="table-responsive"> 
             <table class="table table-striped table-bordered "> 
                 <thead> 
                     <tr> 
                         <th style="width: 2%"> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </th> 
                         <th style="width: auto">trb_banco_id</th> 
                         <th style="width: auto">trb_status_id</th> 
                         <th style="width: auto">nomeempresa</th> 
                         <th style="width: auto">header</th> 
                         <th style="width: auto">contrato</th> 
                         <th style="width: auto">nomearquivo</th> 
                         <th style="width: auto">dataarquivo</th> 
                         <th style="width: auto">agencia</th> 
                         <th style="width: auto">conta</th> 
                         <th style="width: auto">lote</th> 
                         <th style="width: auto">qtdregistros</th> 
                         <th style="width: auto">trailler</th> 
                         <th style="width: auto">valortotal</th> 
                     </tr> 
                 </thead> 

                 <tbody> 
                     <tr *ngFor="let row of dataList"> 
                         <td> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox" 
                                         [checked]="activeBean && (activeBean.id === row.id)" 
                                         (change)="onSelectionChange($event.target.checked, row)"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </td> 
                     <td>{{row.trb_banco_id_nome }}</td> 
                     <td>{{row.trb_status_id_nome }}</td> 
                     <td>{{row.creditobancario_nomeempresa}}</td> 
                     <td>{{row.creditobancario_header}}</td> 
                     <td>{{row.creditobancario_contrato}}</td> 
                     <td>{{row.creditobancario_nomearquivo}}</td> 
                     <td>{{row.creditobancario_dataarquivo}}</td> 
                     <td>{{row.creditobancario_agencia}}</td> 
                     <td>{{row.creditobancario_conta}}</td> 
                     <td>{{row.creditobancario_lote}}</td> 
                     <td>{{row.creditobancario_qtdregistros}}</td> 
                     <td>{{row.creditobancario_trailler}}</td> 
                     <td>{{row.creditobancario_valortotal}}</td> 
                     </tr> 
                 </tbody> 
             </table> 

         </div> 
     </div> 
</div> 
