<!--BARRA SUPERIOR-->
<div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
          <h2>PlanoMidia</h2>

          <ol class="breadcrumb">
              <li>
                  <a routerLink="/">Início</a>
              </li>

              <li>
                  <a routerLink="/planomidia">PLANO DE MÍDIA</a>
              </li>

              <li class="active">
                   <strong>{{activeBean.id}}</strong>
              </li>
          </ol>

      </div>

      </div>

        <!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="btn-group">

      <button class="btn btn-primary"
        type="button" (click)="enableEdit()"
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
        <i class="fas fa-pencil-alt"></i> Editar</button>


      <button class="btn btn-primary"
        type="button"
        (click)="delete('este imóvel')">
        <i class="fas fa-eraser"></i> Apagar</button>

      <button class="btn btn-primary" (click)="this.save()" type="button"
        [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
         <i class="fas fa-save"></i> Salvar</button>
    </div>

    <div class="btn-group">

      <div class="dropdown report-dropdown ">

        <button aria-expanded="true"
        class="dropdown-toggle btn btn-primary"
        data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
                </button>

        <ul class="dropdown-menu user-box  animated row">
          <a><li>Açao 1</li></a>
          <a><li>Açao 2</li></a>
          <a><li>Açao 3</li></a>
        </ul>

      </div>
    </div>

    <div class="btn-group">
      <div class="input-group">
        <button class="btn btn-primary" (click)="printReport('PlanoDeMidiaSites',1)" ><i class="fa fa-print m-r-xs"></i> Imprimir</button>

        <div class="input-group-append">
          <div class="dropdown report-dropdown">
            <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
              <span></span>
            </button>

            <ul class="dropdown-menu user-box  animated row">
              <a><li>Relatorio 1</li></a>
              <a><li>Relatorio 2</li></a>
              <a><li>Relatorio 3</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary pull-right"
        type="button"
        (click)="openGrid()">
      <i class="fas fa-times-circle"></i> Fechar</button>

  </div>
  </div>
<!--**************************************************************************************************************-->
<div class="ibox-content l3-form">
      <div  class="form-horizontal row">

        <!--CAMPO cliente-->
        <div class="form-group col-sm-4">
          <label class="col-sm-5 col-form-label">Cliente</label>
          <div class="col-sm-12">

            <select [(ngModel)]="activeBean.cliente_id" class="form-control m-b"
                    name="account">
              <option *ngFor="let clienteFor of cliente" [ngValue]="activeBean.cliente_id">{{clienteFor.nomefantasia }}
              </option>
            </select>
          </div>
        </div>

          <!--CAMPO AGENCIA_ID-->
        <div class="form-group col-sm-4">
          <label class="col-sm-5 col-form-label">Agência</label>
          <div class="col-sm-12">

            <select [(ngModel)]="activeBean.agencia_id" class="form-control m-b"
                    name="account">
              <option *ngFor="let agenciaFor of agencia" [ngValue]="activeBean.agencia_id">{{agenciaFor.nomefantasia }}
              </option>
            </select>
          </div>
        </div>

        <!--**************************************************************************************************************-->

        <!--CAMPO DATA-->
        <div class='form-group col-sm-4'
        >             <label class="col-sm-2 control-label">Emissão</label>
          <div class="col-sm-10">
            <div class="input-group date">
              <input type="text"
                     class="form-control input-sm"
                     name="data"
                     [ngModel]="activeBean.data |date:'dd/MM/yyyy'"
                     [readonly]="operation==Operation.SELECT"/>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
        <!--**************************************************************************************************************-->


        <!--**************************************************************************************************************-->

     </div>
</div>

         <!--CAMPO HORA
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">hora</label>
             <div class="col-sm-10">
                 <input type="text"
                        class="form-control"
                        [(ngModel)]="activeBean.hora" />
             </div>
         </div>  -->
         <!--**************************************************************************************************************-->
         <!--CAMPO MERCADO
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">mercado</label>
             <div class="col-sm-10">
                 <input type="text"
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.mercado"
                     class="form-control "/>
             </div>
         </div> -->
         <!--**************************************************************************************************************-->
         <!--CAMPO OBS-->
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">obs</label>
             <div class="col-sm-10">
                 <input type="text"
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.obs"
                     class="form-control "/>
             </div>
         </div>
         <!--**************************************************************************************************************-->

         <!--CAMPO PROGRAMA -->
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">programa</label>
             <div class="col-sm-10">
                 <input type="text"
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.programa"
                     class="form-control "/>
             </div>
         </div>
         <!--**************************************************************************************************************-->


         <!--CAMPO PROGRAMA -->

          <!--**************************************************************************************************************-->

         <div class="row">

            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Peças  </h5>
                        <div>
                                <button class="btn btn-primary " data-toggle="modal" data-target="#myModal4" type="button"><i class="fa fa-check"></i>&nbsp;Adicionar</button>

                        </div>
                        <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content animated fadeIn">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h2>Adicionar Peça</h2>
                                    </div>
                                    <div class="modal-body">

                                            <div class="ibox-content l3-form">
                                              <div class="form-horizontal row">
                                                <div class="form-group col-sm-3">
                                                  <label class="col-sm-2 col-form-label">Peça</label>
                                                  <div class="col-sm-12">

                                                    <select [(ngModel)]="peca.peca" class="form-control m-b" name="account">
                                                      <option value="A">A</option>
                                                      <option value="B">B</option>
                                                      <option value="C">C</option>
                                                      <option value="D">D</option>
                                                    </select>
                                                  </div>
                                                </div>

                                                <div class="form-group col-sm-9">
                                                  <label class="col-sm-5 col-form-label">Tipo de Mídia</label>
                                                  <div class="col-sm-12">

                                                    <select [(ngModel)]="peca.tipomidia_id" class="form-control m-b"
                                                            name="account">
                                                      <option *ngFor="let tp of tipoMidia" [ngValue]="tp">{{tp.nome }}
                                                      </option>
                                                    </select>
                                                  </div>
                                                </div>
                                              </div>


                                              <div class="form-horizontal row">

                                                <div class="form-group col-sm-8">
                                                  <label class="col-sm-2 col-form-label">Título</label>
                                                  <div class="col-sm-12">
                                                    <input [(ngModel)]="peca.titulo"
                                                           class="form-control ng-pristine ng-valid ng-touched"
                                                           type="text">
                                                  </div>
                                                </div>

                                                <div class="form-group col-sm-4">
                                                  <label class="col-sm-2 col-form-label">Duração</label>
                                                  <div class="col-sm-12">
                                                    <input [(ngModel)]="peca.duracao"
                                                           class="form-control ng-pristine ng-valid ng-touched"
                                                           type="text">
                                                  </div>
                                                </div>

                                              </div>
                                            </div>
                                    </div>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Fechar</button>
                                        <button type="button" (click)="savePeca()" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#" class="dropdown-item">Config option 1</a>
                                </li>
                                <li><a href="#" class="dropdown-item">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Peça</th>
                                <th>Título</th>
                                <th>Tipo</th>
                                <th>Duração</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let row of activeBean.pecalist" >
                                <td>{{row.peca}}</td>
                                 <td>{{row.titulo}}</td>
                                <td>{{row.tipomidia_id.nome}}</td>
                                <td class="text-navy">{{row.duracao}} </td>
                              <td> <a (click)="editPeca(row)" class="btn btn-white btn-bitbucket">
                                <i class="fas fa-pencil-alt"></i>
                              </a> </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Grades  </h5>
                            <div>
                                <button class="btn btn-primary " data-toggle="modal" data-target="#gradeModalItem" type="button"><i class="fa fa-check"></i>&nbsp;Adicionar</button>

                            </div>
                            <div class="modal inmodal fade" id="gradeModalItem" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg modal-full">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                                <h5 class="modal-title">Plano de Mídia nº 1: Adicionar Grade</h5>

                                            </div>
                                            <div class="modal-body">


                                                    <div class="ibox-content col-sm-4">
                                                            <div  class="form-horizontal row">
                                                                    <div class="form-group col-sm-3">
                                                                            <label class="col-sm-2 col-form-label">Mês</label>
                                                                            <div class="col-sm-12">

                                                                        <select [(ngModel)]="pedidoinsercaoitem.mes" class="form-control m-b" name="account">
                                                                                <option value="Janeiro">Janeiro</option>
                                                                                <option value="Fevereiro">Fevereiro</option>
                                                                                <option value="Março">Março</option>
                                                                                <option value="Abril">Abril</option>
                                                                                <option value="Maio">Maio</option>
                                                                                <option value="Junho">Junho</option>
                                                                                <option value="Julho">Julho</option>
                                                                                <option value="Agosto">Agosto</option>
                                                                                <option value="Setembro">Setembro</option>
                                                                                <option value="Outubro">Outubro</option>
                                                                                <option value="Novembro">Novembro</option>
                                                                                <option value="Dezembro">Dezembro</option>
                                                                                </select>
                                                                            </div>
                                                                    </div>

                                                                    <div class="form-group col-sm-9">
                                                                            <label class="col-sm-5 col-form-label">Ano</label>
                                                                            <div class="col-sm-12">

                                                                        <select [(ngModel)]="pedidoinsercaoitem.ano" class="form-control m-b" name="account">
                                                                                <option value="2018">2018</option>
                                                                                <option value="2019">2019</option>
                                                                                <option value="2020">2020</option>
                                                                                <option value="2021">2021</option>
                                                                                </select>
                                                                            </div>
                                                                    </div>
                                                            </div>

                                                    </div>

                                              <div class="table-responsive">
                                                <table class="table table-sm">
                                                  <thead>
                                                  <tr>
                                                    <th class="text-center">P</th>
                                                    <th></th>
                                                    <th>Veículo</th>
                                                    <th></th>
                                                    <th class="text-center day thursday">1<br><span>Q</span></th>
                                                    <th class="text-center day friday">2<br><span>S</span></th>
                                                    <th class="text-center day saturday">3<br><span>S</span></th>
                                                    <th class="text-center day sunday">4<br><span>D</span></th>
                                                    <th class="text-center day monday">5<br><span>S</span></th>
                                                    <th class="text-center day tuesday">6<br><span>T</span></th>
                                                    <th class="text-center day wednesday">7<br><span>Q</span></th>
                                                    <th class="text-center day thursday">8<br><span>Q</span></th>
                                                    <th class="text-center day friday">9<br><span>S</span></th>
                                                    <th class="text-center day saturday">10<br><span>S</span></th>
                                                    <th class="text-center day sunday">11<br><span>D</span></th>
                                                    <th class="text-center day monday">12<br><span>S</span></th>
                                                    <th class="text-center day tuesday">13<br><span>T</span></th>
                                                    <th class="text-center day wednesday">14<br><span>Q</span></th>
                                                    <th class="text-center day thursday">15<br><span>Q</span></th>
                                                    <th class="text-center day friday">16<br><span>S</span></th>
                                                    <th class="text-center day saturday">17<br><span>S</span></th>
                                                    <th class="text-center day sunday">18<br><span>D</span></th>
                                                    <th class="text-center day monday">19<br><span>S</span></th>
                                                    <th class="text-center day tuesday">20<br><span>T</span></th>
                                                    <th class="text-center day wednesday">21<br><span>Q</span></th>
                                                    <th class="text-center day thursday">22<br><span>Q</span></th>
                                                    <th class="text-center day friday">23<br><span>S</span></th>
                                                    <th class="text-center day saturday">24<br><span>S</span></th>
                                                    <th class="text-center day sunday">25<br><span>D</span></th>
                                                    <th class="text-center day monday">26<br><span>S</span></th>
                                                    <th class="text-center day tuesday">27<br><span>T</span></th>
                                                    <th class="text-center day wednesday">28<br><span>Q</span></th>
                                                    <th class="text-center day thursday">29<br><span>Q</span></th>
                                                    <th class="text-center day friday">30<br><span>S</span></th>
                                                    <th class="text-center day saturday" style="display:none;">
                                                      31<br><span>S</span></th>
                                                    <th>Q</th>
                                                    <th>V. Unit.</th>
                                                    <th>Desconto</th>
                                                    <th>Negociação</th>
                                                    <th>Valor</th>
                                                    <th></th>
                                                  </tr>
                                                  </thead>
                                                  <tbody class="nested-fields-group">
                                                  <tr class="media_plan_grid_insert nested-fields">
                                                    <td>
                                                      <div>
                                                        <select class="form-control form-input-auto" >
                                                          <option value="1">A</option>
                                                        </select>
                                                      </div>
                                                    </td>
                                                    <td class="media_plan_piece_kind text-center align-middle">
                                                      <strong class="badge badge-eletronic-medium">ME</strong></td>
                                                    <td>
                                                      <div>
                                                        <select class="form-control form-input-auto"  >
                                                          <option value="5">Radio 100</option>
                                                        </select></div>
                                                    </td>
                                                        <td class="eletronic_medium" style="">
                                                       <span class="d-flex">
                                                         <div class="form-group select optional media_plan_grid_inserts_program">
                                                        <select class="form-control select optional form-input-auto mr-2">
                                                          <option value="">Selecione um Programa</option>
                                                          <option value="1">Programa das 7 - 01:00</option>
                                                           </select>
                                                         </div>
                                                          <div class="form-group select optional media_plan_grid_inserts_eletronic_medium_program_daily">
                                                            <select class="form-control form-input-auto">
                                                              <option selected="selected"value="true">Ins</option>
                                                               <option value="false">Desc</option>
                                                            </select>
                                                          </div>
                                                       </span>
                                                        </td>

                                                    <td style="" class="day thursday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day1">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia01" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text">
                                                      </div>
                                                    </td>
                                                    <td style="" class="day friday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day2">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia02" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text" ></div>
                                                    </td>
                                                    <td style="" class="day saturday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day3">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia03" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day sunday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day4">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia04" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day monday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day5">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia05" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day tuesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day6">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia06" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day wednesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day7">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia07" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day thursday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day8">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia08" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text" ></div>
                                                    </td>
                                                    <td style="" class="day friday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day9">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia09" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day saturday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day10">
                                                        <input  [(ngModel)]="pedidoinsercaoitem.dia10" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day sunday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day11">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia11" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day monday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day12">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia12" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control"></div>
                                                    </td>
                                                    <td style="" class="day tuesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day13">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia13" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day wednesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day14">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia14" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day thursday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day15">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia15" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day friday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day16">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia16" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day saturday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day17">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia17" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day sunday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day18">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia18" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day monday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day19">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia19" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day tuesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day20">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia20" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day wednesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day21">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia21" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day thursday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day22">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia22" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day friday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day23">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia23" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day saturday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day24">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia24" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day sunday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day25">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia25" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day monday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day26">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia26" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day tuesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day27">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia27" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day wednesday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day28">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia28" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day thursday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day29">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia29" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="" class="day friday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day30">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia30" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td style="display:none;" class="day saturday">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_day31">
                                                        <input [(ngModel)]="pedidoinsercaoitem.dia31" class="dia form-input-24 m-auto pl-1 pr-1 text-center form-control" type="text"></div>
                                                    </td>
                                                    <td class="insert_quantity" style="">
                                                      <div
                                                        class="form-group quantity optional media_plan_grid_inserts_quantity_localized form-input-100">
                                                        <input class=" form-control currency-input autoformat">
                                                      </div>
                                                    </td>
                                                    <td class="insert_unitary_amount" style="">
                                                      <div
                                                        class="form-group currency optional media_plan_grid_inserts_unitary_amount_localized form-input-150"
                                                        style="">
                                                        <div class="input-group">
                                                          <div class="input-group-prepend"><span
                                                            class="input-group-text"><span
                                                            class="fa fa-only-text fa-fw">R$</span></span></div>
                                                          <input class="form-control optional currency-input autoformat" type="text">
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td class="insert_discount" style="">
                                                      <div
                                                        class="form-group discount_toogle_kind optional media_plan_grid_inserts_discount form-input-150"
                                                        style="">
                                                        <div class="input-group">
                                                          <div class="input-group-btn">
                                                            <button name="button" type="submit"
                                                                    class="btn btn-light dropdown-toggle"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">%<span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                              <li><a class="dropdown-item" data-value="0" data-index="0"
                                                                     href="#">$</a></li>
                                                              <li><a class="dropdown-item" data-value="1" data-index="1"
                                                                     href="#">%</a></li>
                                                            </ul>
                                                          </div>
                                                          <input class="media_plan_grid_inserts_discount_kind"
                                                                 type="hidden" value="1"
                                                                 name="media_plan_grid[inserts_attributes][0][discount_kind]"
                                                                 id="media_plan_grid_inserts_attributes_0_discount_kind">
                                                          <input
                                                          class=" form-control autoformat media_plan_grid_inserts_discount_localized"
                                                          style="display: none;" type="text" value="0,00"
                                                          name="media_plan_grid[inserts_attributes][0][discount_localized]"
                                                          id="media_plan_grid_inserts_attributes_0_discount_localized">
                                                          <input
                                                          class=" form-control autoformat media_plan_grid_inserts_discount_percent_localized"
                                                          type="text" value="0,00"
                                                          name="media_plan_grid[inserts_attributes][0][discount_percent_localized]"
                                                          id="media_plan_grid_inserts_attributes_0_discount_percent_localized">
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td class="insert_negotiating">
                                                      <div
                                                        class="form-group select optional media_plan_grid_inserts_negotiating">
                                                        <select class="form-control select optional form-input-auto"
                                                                name="media_plan_grid[inserts_attributes][0][negotiating]"
                                                                id="media_plan_grid_inserts_attributes_0_negotiating">
                                                          <option selected="selected" value="0">Normal</option>
                                                          <option value="1">Fechado</option>
                                                        </select></div>
                                                    </td>
                                                    <td class="insert_amount text-right text-nowrap align-middle">
                                                      <strong style="">R$ 0,00</strong>
                                                      <div
                                                        class="form-group currency optional media_plan_grid_inserts_amount_localized form-input-150"
                                                        style="display:none;">
                                                        <div class="input-group">
                                                          <div class="input-group-prepend"><span
                                                            class="input-group-text"><span
                                                            class="fa fa-only-text fa-fw">R$</span></span></div>
                                                          <input [(ngModel)]="pedidoinsercaoitem.valor" class="form-control optional currency-input autoformat">
                                                        </div>
                                                      </div>
                                                    </td>
                                                    <td class="actions align-middle">
                                                          <span class="approvable">
                                                          <input type="hidden" value="false" name="media_plan_grid[inserts_attributes][0][approved]"
                                                                 id="media_plan_grid_inserts_attributes_0_approved">
                                                          <span class="fa fa-circle-o fa-lg fa-fw"></span>
                                                          </span>
                                                      <span class=" drag"><span
                                                        class="fa fa-sort fa-lg fa-fw"></span></span>
                                                      <input type="hidden"
                                                             name="media_plan_grid[inserts_attributes][0][_destroy]"
                                                             id="media_plan_grid_inserts_attributes_0__destroy"
                                                             value="false"><a
                                                      class="text-secondary remove_fields dynamic" href="#"><span
                                                      class="fa fa-times fa-lg fa-fw"></span></a>
                                                    </td>
                                                  </tr>

                                                  </tbody>
                                                </table>
                                              </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                                <button type="button" (click)="saveGrade()" class="btn btn-primary">Salvar Grade</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#" class="dropdown-item">Config option 1</a>
                                    </li>
                                    <li><a href="#" class="dropdown-item">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Inserções</th>
                                    <th>Valor</th>
                                    <th>Valor Aprovado</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>pedidoinsercaoitemList
                                <tr *ngFor="let rowGrade of activeBean.pedidoinsercaoitemList" >
                                  <td>{{rowGrade.data}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

