<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Clientes
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Procurar Cliente...">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/cliente/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                    <mat-icon>person_add</mat-icon>
                <span>    Novo Cliente</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
            #table [dataSource]="dataSource"
            matSort
            [@animateStagger]="{value:'50'}"
            fusePerfectScrollbar>

     <!-- ID Column -->
     <ng-container matColumnDef="ID">
         <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
         <mat-cell *matCellDef="let cliente">
             <p class="text-truncate">{{cliente.id}}</p>
         </mat-cell>
     </ng-container>


     <!-- Name Column -->
     <ng-container matColumnDef="nomefantasia">
         <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
         <mat-cell *matCellDef="let cliente">
             <p class="text-truncate">{{cliente.nomefantasia}}</p>
         </mat-cell>
     </ng-container>

     <!-- Category Column -->
     <ng-container matColumnDef="email">
         <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>E-mail</mat-header-cell>
         <mat-cell *matCellDef="let cliente" fxHide fxShow.gt-md>
             <p class="category text-truncate">
                 {{cliente.email}}
             </p>
         </mat-cell>
     </ng-container>

     <!-- Price Column -->
     <ng-container matColumnDef="telefone">
         <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Telefone</mat-header-cell>
         <mat-cell *matCellDef="let cliente" fxHide fxShow.gt-xs>
             <p class="price text-truncate">
                 {{cliente.telefone}}
             </p>
         </mat-cell>
     </ng-container>

   
     <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

     <mat-row *matRowDef="let cliente; columns: displayedColumns;"
              class="product"
              matRipple
              [routerLink]="'/cliente/view/'+cliente.id+'/'">
     </mat-row>

 </mat-table>

           

              <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
