<!--TOOLBAR-->
<div class="row">

  <gov-tool-bar [title]="'Conta Bancaria'"
                (buttonActionClick)="onButtonActionClick($event)"
                (filterRowValueChange)="onFilterValueChange($event)">
  </gov-tool-bar>

  <gov-filter [grid]=this></gov-filter>

</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------->


<!--GRID-->
<div class="ibox-content l3-grid">
  <div class="row">
    
    <div class="table-responsive">
      <table class="table table-hover table-bordered ">
        <thead>
        <tr>
          <th style="width: 2%">
            <label class="l3-checkbox">
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </th>
          <th style="width: auto">Unidade Gestora</th>
          <th style="width: auto">Tipo Conta</th>
          <th style="width: auto">Banco</th>
          <th style="width: auto">Agência</th>
          <th style="width: auto">Conta</th>
          <th style="width: auto">Descrição</th>
          <th style="width: auto">Inativa</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let row of dataList">
          <td>
            <label class="l3-checkbox">
              <input type="checkbox"
                     [checked]="activeBean && (activeBean.id === row.id)"
                     (change)="onSelectionChange($event.target.checked, row)">
              <span class="checkmark"></span>
            </label>
          </td>
          <td>{{row.unidadegestora_nome }}</td>
          <td>{{row.tipoconta_nome }}</td>
          <td>{{row.banco_nome }}</td>
          <td>{{row.contabancaria_agencia}}</td>
          <td>{{row.contabancaria_conta}}</td>
          <td>{{row.contabancaria_descricao}}</td>
          <td>{{row.contabancaria_inativa}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    
  </div>      
</div>
<!--**************************************************************************************************************-->
