<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
     <div class="col-lg-12"> 
         <h2> <i class="fa fa-sign-in-alt"></i> PlanoMidia </h2> 

         <ol class="breadcrumb"> 
             <li> 
                 <a routerLink="/">Início</a> 
             </li> 

             <li class="active"> 
               <strong>PlanoMidia</strong> 
             </li>
         </ol> 
     </div> 

</div> 

<!--**************************************************************************************************************--> 

<div class="row"> 
   <gov-tool-bar (buttonActionClick)="onButtonActionClick($event)" (filterRowValueChange)="onFilterValueChange($event)"></gov-tool-bar> 
    <gov-filter [grid]=this></gov-filter> 
</div> 
<div class="ibox-content l3-grid"> 
     <div class="row"> 
         <div class="table-responsive"> 
             <table class="table table-striped table-bordered "> 
                 <thead> 
                     <tr> 
                         <th style="width: 2%"> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </th> 
                         <th style="width: auto">codigo</th> 
                         <th style="width: auto">hora</th> 
                         <th style="width: auto">mercado</th> 
                         <th style="width: auto">obs</th> 
                         <th style="width: auto">data</th> 
                         <th style="width: auto">programa</th> 
                         <th style="width: auto">agencia_id</th> 
                         <th style="width: auto">campanha_id</th> 
                         <th style="width: auto">cliente_id</th> 
                     </tr> 
                 </thead> 

                 <tbody> 
                     <tr *ngFor="let row of dataList"> 
                         <td> 
                             <label class="l3-checkbox"> 
                                 <input type="checkbox" 
                                         [checked]="activeBean && (activeBean.id === row.id)" 
                                         (change)="onSelectionChange($event.target.checked, row)"> 
                                 <span class="checkmark"></span> 
                             </label> 
                         </td> 
                     <td>{{row.codigo}}</td> 
                     <td>{{row.hora}}</td> 
                     <td>{{row.mercado}}</td> 
                     <td>{{row.obs}}</td> 
                     <td>{{row.data}}</td> 
                     <td>{{row.programa}}</td> 
                     <td>{{row.agencia_id_nome }}</td> 
                     <td>{{row.campanha_id_nome }}</td> 
                     <td>{{row.cliente_id_nome }}</td> 
                     </tr> 
                 </tbody> 
             </table> 

         </div> 
     </div> 
</div> 
