<div id="media-plans" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    library_books
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Planos de Mídia
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Procurar Plano de Mídia...">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/planomidia/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>person_add</mat-icon>
                <span>    Novo Plano de Mídia</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       matSortDirection="desc"
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="ID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let planomidia">
                        <p class="text-truncate">{{planomidia.id}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Name Column -->
                <ng-container matColumnDef="agencia">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Agência</mat-header-cell>
                    <mat-cell *matCellDef="let planomidia">
                        <p class="text-truncate">{{planomidia.agencia_id?.nomefantasia}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="cliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</mat-header-cell>
                    <mat-cell *matCellDef="let planomidia">
                        <p class="text-truncate">{{planomidia.cliente_id.nomefantasia}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="campanha">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Campanha</mat-header-cell>
                    <mat-cell *matCellDef="let planomidia">
                        <p class="text-truncate">{{planomidia.campanha_id.nome}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="situacao">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Situação</mat-header-cell>
                    <mat-cell *matCellDef="let planomidia">
                        <p class="text-truncate" [ngClass]="planomidia.situacao == 'EM ABERTO' ? 'status' : 'status2'" >{{planomidia.situacao}}</p>
                    </mat-cell>
                </ng-container>





                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let planomidia; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/planomidia/view/'+planomidia.id+'/'">
                </mat-row>

            </mat-table>



            <mat-paginator [length]="100"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
