<!--BARRA SUPERIOR-->
<div id="veiculo" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" >
                        {{  activeBean.nomefantasia }}
                    </div>
                    <div class="h2" >
                       Novo Veículo
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Informações do veiculo</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    (click)="saveVeiculo()">
                <span>Salvar Veiculo</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">


                    <mat-tab-group>

                        <mat-tab label="Dados Cadastrais">

                            <form name="activeForm" [formGroup]="activeForm" (ngSubmit)="saveVeiculo()" class="product w-100-p" fxLayout="column" fxFlex>

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome Fantasia</mat-label>
                                    <input matInput placeholder="Nome Fantasia"
                                           name="nomefantasia"
                                           formControlName="nomefantasia"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Razão Social</mat-label>
                                    <input matInput placeholder="Razão Social"
                                           name="razaosocial"
                                           formControlName="razaosocial" >
                                </mat-form-field>


                                <div fxLayout="row" fxLayoutGap="20px">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>CNPJ</mat-label>
                                        <input matInput placeholder=""
                                               name="cnpj"
                                               formControlName="cnpj">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Inscrição Estadual</mat-label>
                                        <input matInput placeholder=""
                                               name="inscricaoestadual"
                                               formControlName="inscricaoestadual">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Inscrição Municipal</mat-label>
                                        <input matInput placeholder=""
                                               name="inscricaomunicipal"
                                               formControlName="inscricaomunicipal">
                                    </mat-form-field>

                                </div>

                                <mat-form-field appearance="outline" floatLabel="always"  class="w-20-p">
                                    <mat-label>Mercado de atuação</mat-label>
                                    <input matInput placeholder=""
                                           name="praca"
                                           formControlName="praca">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Observação</mat-label>
                                    <textarea matInput placeholder=""
                                              name="obs"
                                              formControlName="obs"
                                              rows="5">
                                      </textarea>
                                </mat-form-field>



                            </div>

                            </form>

                        </mat-tab>

                <mat-tab label="Endereços" >

                    <div class="p-24" fxLayout="row wrap">

                        <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

                            <div class="profile-box info-box general" fxLayout="column">

                                <div class="content">

                                    <button mat-raised-button color="primary" (click)="openEderecoDialog()" >Adicionar Endereço</button>

                                    <table class="simple">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Endereço</th>
                                            <th >Cidade</th>
                                            <th >UF</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="product-row"
                                            *ngFor="let x of activeBean.enderecoList " >
                                            <td>
                                                {{x.id}}
                                            </td>

                                            <td>
                                                {{x.endereco}}
                                            </td>
                                            <td>
                                                {{x.cidade}}
                                            </td>
                                            <td>
                                                {{x.estado}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>


                </mat-tab>

                 <mat-tab label="Contatos" >


                            <div class="p-24" fxLayout="row wrap">

                                <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

                                    <div class="profile-box info-box general" fxLayout="column">

                                        <div class="content">

                                            <button mat-raised-button color="primary" (click)="openContatoDialog()" >Adicionar Contato</button>



                                            <table class="simple">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Tipo</th>
                                                    <th >Nome</th>
                                                    <th >Telefone</th>
                                                    <th >E-mail</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="product-row"
                                                    *ngFor="let x of activeBean.contatoList " >
                                                    <td>
                                                        {{x.id}}
                                                    </td>

                                                    <td>
                                                        {{x.tipocontato}}
                                                    </td>
                                                    <td>
                                                        {{x.contato}}
                                                    </td>
                                                    <td>
                                                        {{x.telefone}}
                                                    </td>
                                                    <td>
                                                        {{x.email}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </mat-tab>

                 <mat-tab label="Telefones">

                            <div class="content">
                                <button mat-raised-button color="primary" (click)="openTelefoneDialog()" >Adicionar Telefone</button>
                                <table class="simple">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tipo</th>
                                        <th >Número</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="product-row"
                                        *ngFor="let x of activeBean.telefoneList " >
                                        <td>
                                            {{x.id}}
                                        </td>

                                        <td>
                                            {{x.tipotelefone}}
                                        </td>
                                        <td>
                                            {{x.numero}}
                                        </td>
                                    </tbody>
                                </table>
                            </div>

                        </mat-tab>

                 <mat-tab label="E-mails" >

                        <div class="content">
                                <button mat-raised-button color="primary" (click)="openEmailDialog()" >Adicionar E-mail</button>
                                <table class="simple">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tipo E-mail</th>
                                        <th >E-mail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="product-row"
                                        *ngFor="let x of activeBean.emailList " >
                                        <td>
                                            {{x.id}}
                                        </td>

                                        <td>
                                            {{x.tipoemail}}
                                        </td>
                                        <td>
                                            {{x.email}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-tab>

                 <mat-tab label="Sites" >


                            <div class="content">
                                <button mat-raised-button color="primary" (click)="openSiteDialog()">Adicionar Site</button>
                                <table class="simple">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tipo</th>
                                        <th >Site</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="product-row"
                                        *ngFor="let x of activeBean.siteList " >
                                        <td>
                                            {{x.id}}
                                        </td>

                                        <td>
                                            {{x.tiposite}}
                                        </td>
                                        <td>
                                            {{x.site}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </mat-tab>

                 <mat-tab label="Contas Bancárias" >


                            <div class="content">
                                <button mat-raised-button color="primary" (click)="openContaDialog()">Adicionar Conta</button>
                                <table class="simple">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Banco</th>
                                        <th >Conta</th>
                                        <th >Tipo</th>
                                        <th >CPF/CNPJ</th>
                                        <th >Favorecido</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="product-row"
                                        *ngFor="let x of activeBean.contaBancariaList " >
                                        <td>
                                            {{x.id}}
                                        </td>

                                        <td>
                                            {{x.banco}}
                                        </td>
                                        <td>
                                            {{x.conta}}
                                        </td>
                                        <td>
                                            {{x.tipoconta}}
                                        </td>
                                        <td>
                                            {{x.cnpjcpf}}
                                        </td>
                                        <td>
                                            {{x.favorecido}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </mat-tab>

                    </mat-tab-group>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>


