<!--BARRA SUPERIOR-->
<div id="veiculo" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{  activeBean.nomefantasia }}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Informações do veiculo</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    (click)="saveVeiculo()">
                <span>Salvar</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    *ngIf="pageType ==='edit'" (click)="saveVeiculo()">
                <span>Salvar Veiculo</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="activeForm" [formGroup]="activeForm" (ngSubmit)="saveVeiculo()" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Dados Cadastrais">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Nome Fantasia</mat-label>
                                    <input matInput placeholder="Nome Fantasia"
                                           name="nomefantasia"
                                           formControlName="nomefantasia"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Razão Social</mat-label>
                                    <input matInput placeholder="Razão Social"
                                           name="razaosocial"
                                           formControlName="razaosocial"
                                    >
                                </mat-form-field>


                                <div fxLayout="row" fxLayoutGap="20px">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>CNPJ</mat-label>
                                        <input matInput placeholder=""
                                               name="cnpj"
                                               formControlName="cnpj">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Inscrição Estadual</mat-label>
                                        <input matInput placeholder=""
                                               name="inscricaoestadual"
                                               formControlName="inscricaoestadual">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Inscrição Municipal</mat-label>
                                        <input matInput placeholder=""
                                               name="inscricaomunicipal"
                                               formControlName="inscricaomunicipal">
                                    </mat-form-field>

                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Observação</mat-label>
                                    <textarea matInput placeholder=""
                                              name="obs"
                                              formControlName="obs"
                                              rows="5">
                                      </textarea>
                                </mat-form-field>



                            </div>

                        </mat-tab>

                        <mat-tab label="Endereços" formArrayName="enderecoList">

                            <div class="p-24">
                                <button (click)="addAddress()" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>


                            <div *ngFor="let group of addressArray.controls; let i = index;" [formGroupName]="i">
                                <div class="tab-content p-24" fusePerfectScrollbar >

                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Endereço</mat-label>
                                        <input matInput placeholder=""
                                               name="endereco"
                                               formControlName="endereco"
                                               required>
                                    </mat-form-field>

                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Bairro</mat-label>
                                            <input matInput placeholder=""
                                                   name="bairro"
                                                   formControlName="bairro">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>CEP</mat-label>
                                            <input matInput placeholder=""
                                                   name="cep"
                                                   formControlName="cep">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Cidade</mat-label>
                                            <input matInput placeholder=""
                                                   name="cidade"
                                                   formControlName="cidade">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>UF</mat-label>
                                            <input matInput placeholder=""
                                                   name="estado"
                                                   formControlName="estado">
                                        </mat-form-field>

                                    </div>



                                </div>
                            </div>

                            <div class="p-24" fxLayout="row wrap">

                                <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

                                    <div class="profile-box info-box general" fxLayout="column">


                                    </div>
                                </div>
                            </div>

                            <div class="content">

                                <button mat-raised-button color="primary" (click)="openDialog(entity.id)">Adicionar Programa</button>



                                <table class="simple">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Endereço</th>
                                        <th >Cidade</th>
                                        <th >UF</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="product-row"
                                        *ngFor="let x of activeBean.enderecoList " >
                                        <td>
                                            {{x.id}}
                                        </td>

                                        <td>
                                            {{x.endereco}}
                                        </td>
                                        <td>
                                            {{x.cidade}}
                                        </td>
                                        <td>
                                            {{x.UF}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </mat-tab>

                        <mat-tab label="Contatos" formArrayName="contatoList">
                            <div class="p-24">
                                <button (click)="addContato()" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>


                            <div *ngFor="let group of contatoArray.controls; let i = index;" [formGroupName]="i">

                                <div class="tab-content p-24" fusePerfectScrollbar >

                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Tipo de Contato</mat-label>
                                            <input matInput placeholder=""
                                                   name="tipocontato"
                                                   formControlName="tipocontato"
                                                   required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Nome do Contato</mat-label>
                                            <input matInput placeholder=""
                                                   name="contato"
                                                   formControlName="contato"
                                                   required>
                                        </mat-form-field>

                                    </div>



                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Telefone</mat-label>
                                            <input matInput placeholder=""
                                                   name="telefone"
                                                   formControlName="telefone">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="60">
                                            <mat-label>E-mail</mat-label>
                                            <input matInput placeholder=""
                                                   name="email"
                                                   formControlName="email">
                                        </mat-form-field>

                                    </div>



                                </div>
                            </div>

                            <div class="p-24" fxLayout="row wrap">

                                <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

                                    <div class="profile-box info-box general" fxLayout="column">

                                        <div class="content">

                                            <button mat-raised-button color="primary" (click)="openDialog(entity.id)">Adicionar Contato</button>



                                            <table class="simple">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Tipo</th>
                                                    <th >Nome</th>
                                                    <th >Telefone</th>
                                                    <th >E-mail</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="product-row"
                                                    *ngFor="let x of activeBean.contatoList " >
                                                    <td>
                                                        {{x.id}}
                                                    </td>

                                                    <td>
                                                        {{x.tipocontato}}
                                                    </td>
                                                    <td>
                                                        {{x.contato}}
                                                    </td>
                                                    <td>
                                                        {{x.telefone}}
                                                    </td>
                                                    <td>
                                                        {{x.email}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="Telefones" formArrayName="telefoneList">

                            <div class="p-24">
                                <button (click)="addTelefone()" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>


                            <div *ngFor="let group of telefoneArray.controls; let i = index;" [formGroupName]="i">
                                <div class="tab-content p-24" fusePerfectScrollbar >


                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" class="30">
                                            <mat-label>Tipo</mat-label>
                                            <input matInput placeholder=""
                                                   name="tipotelefone"
                                                   formControlName="tipotelefone"
                                                   required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Telefone</mat-label>
                                            <input matInput placeholder=""
                                                   name="numero"
                                                   formControlName="numero">
                                        </mat-form-field>

                                    </div>

                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="E-mails" formArrayName="emailList">

                            <div class="p-24">
                                <button (click)="addEmail()" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>


                            <div *ngFor="let group of emailArray.controls; let i = index;" [formGroupName]="i">
                                <div class="tab-content p-24" fusePerfectScrollbar >


                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" class="30">
                                            <mat-label>Tipo</mat-label>
                                            <input matInput placeholder=""
                                                   name="tipoemail"
                                                   formControlName="tipoemail"
                                                   required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>E-mail</mat-label>
                                            <input matInput placeholder=""
                                                   name="email"
                                                   formControlName="email">
                                        </mat-form-field>



                                    </div>



                                </div>
                            </div>


                        </mat-tab>

                        <mat-tab label="Sites" formArrayName="siteList">

                            <div class="p-24">
                                <button (click)="addSite()" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>


                            <div *ngFor="let group of siteArray.controls; let i = index;" [formGroupName]="i">
                                <div class="tab-content p-24" fusePerfectScrollbar >


                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" class="30">
                                            <mat-label>Tipo</mat-label>
                                            <input matInput placeholder=""
                                                   name="tiposite"
                                                   formControlName="tiposite"
                                                   required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Endereço do Site</mat-label>
                                            <input matInput placeholder=""
                                                   name="site"
                                                   formControlName="site">
                                        </mat-form-field>



                                    </div>



                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab label="Contas Bancárias" formArrayName="contaBancariaList">

                            <div class="p-24">
                                <button (click)="addContasBancarias()" mat-stroked-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>


                            <div *ngFor="let group of contasBancariasArray.controls; let i = index;" [formGroupName]="i">
                                <div class="tab-content p-24" fusePerfectScrollbar >


                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" class="30">
                                            <mat-label>Banco</mat-label>
                                            <input matInput placeholder=""
                                                   name="banco"
                                                   formControlName="banco"
                                                   required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Agência</mat-label>
                                            <input matInput placeholder=""
                                                   name="agencia"
                                                   formControlName="agencia">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Conta</mat-label>
                                            <input matInput placeholder=""
                                                   name="conta"
                                                   formControlName="conta">
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="row" fxLayoutGap="20px">

                                        <mat-form-field appearance="outline" floatLabel="always" class="30">
                                            <mat-label>Tipo da Conta</mat-label>
                                            <input matInput placeholder=""
                                                   name="tipoconta"
                                                   formControlName="tipoconta"
                                                   required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                            <mat-label>Operação</mat-label>
                                            <input matInput placeholder=""
                                                   name="operacao"
                                                   formControlName="operacao">
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Favorecido</mat-label>
                                            <input matInput placeholder=""
                                                   name="favorecido"
                                                   formControlName="favorecido"
                                                   required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>CNPJ/CPF</mat-label>
                                            <input matInput placeholder=""
                                                   name="cnpjcpf"
                                                   formControlName="cnpjcpf"
                                                   required>
                                        </mat-form-field>

                                    </div>



                                </div>
                            </div>

                        </mat-tab>


                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>


