<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;">

    <div class="row" style="width: 100%; margin: 0">

      <div class="col-lg-2">
        <div>

          <!--BOTÂO HIDE SIDE BAR-->
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
             href="#">
            <i class="fa fa-bars"></i>
          </a>
          <!--******************************************************************************************-->

          <!-- LOGO DA CIDADE
           <img style="display: inline-block; margin:10px" height="50px" src="http://4.bp.blogspot.com/-Bncv4oE8Vs4/TdRpyqL8DLI/AAAAAAAAAC0/0UGXMbluR1E/s1600/bras%25C3%25A3o+de+est%25C3%25A2ncia.jpg">
           ******************************************************************************************
     -->
          <!-- &lt;!&ndash;TÍTULO DO SISTEMA&ndash;&gt;
           <h2 style="display: inline-block;">Govnet Tributos</h2>
           &lt;!&ndash;******************************************************************************************&ndash;&gt;
         -->

        </div>
      </div>

      <div class="col-lg-8">
        <ul class="nav navbar-top-links navbar-center">
          <li style="text-align: center">
            <span class="m-r-sm text-muted welcome-message" style="font-size: 13px; color: #1ab394!important; text-align: center;">

            </span>
                <br>
                <span class="m-r-sm text-muted welcome-message" style="font-size: 13px; color: #1ab394!important; text-align: center;">

            </span>
          </li>
        </ul>
      </div>

      <div class="col-lg-2">
        <ul class="nav navbar-top-links navbar-right user-menu">
          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
              <!--<span>
                {{sharedService.loginResponse.usuario.usuario_nome}}
                <br>
                {{sharedService.loginResponse.data | date: 'dd/MM/yyyy'}}
              </span>

              <img src="../../assets/img/profile_small.jpg" class="img-circle">-->

              <div class="row" style="margin-right: 22px">
                <div class="col-lg-10" style="text-align: right; padding-right: 0">
                  <span>
                    {{sharedService.loginResponse.usuario.nome}}
                    <br>
                    {{sharedService.loginResponse.data | date: 'dd/MM/yyyy'}}
                  </span>
                </div>

                <div class="col-lg-2" style="padding-left: 0">
                  <img src="../../assets/img/profile_small.jpg" class="img-circle">
                </div>
              </div>
            </a>

            <ul class="dropdown-menu user-box  animated fadeIn">

              <!-- User image -->
              <li class="user-header">
                <img src="../../assets/img/profile_small.jpg">

                <span>
              {{sharedService.loginResponse.usuario.nome}}
              <br/>
              <small>{{sharedService.loginResponse.usuario.email}}</small>
            </span>
                <hr/>
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-primary btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a routerLink="/logout" class="btn btn-default btn-flat">Logout</a>
                </div>
              </li>
            </ul>

          </li>
        </ul>
      </div>

    </div>

  </nav>
</div>
<!--<div style="clear: both"></div>-->
