<h2 mat-dialog-title>Adicionar Grade</h2>
<mat-dialog-content class="mat-typography">
    <!-- REACTIVE FORM EXAMPLE -->

    <style>
        .mat-select-trigger { min-width: 125px; }

        .dia{
            width: 70px;
        }

        .qtd{
            width:70px;
        }
    </style>


    <form [formGroup]="gradeForm" (ngSubmit)="saveGrade()"  class="  mr-24" fxLayout="column" fxLayoutAlign="start"
          name="form">

        <div fxLayout="row" fxLayoutGap="20px"  class="tab-content " >

            <mat-form-field appearance="outline" fxFlex="30">
                <mat-label>Mês</mat-label>
                <mat-select formControlName="mes" required>
                    <mat-option [value]="'Janeiro'">
                        Janeiro
                    </mat-option>
                    <mat-option [value]="'Fevereiro'">
                        Fevereiro
                    </mat-option>
                    <mat-option [value]="'Março'">
                        Março
                    </mat-option>
                    <mat-option [value]="'abril'">
                        abril
                    </mat-option>
                    <mat-option [value]="'Maio'">
                        Maio
                    </mat-option>
                    <mat-option [value]="'Junho'">
                        Junho
                    </mat-option>
                    <mat-option [value]="'Julho'">
                        Julho
                    </mat-option>
                    <mat-option [value]="'Agosto'">
                        Agosto
                    </mat-option>
                    <mat-option [value]="'Setembro'">
                        Setembro
                    </mat-option>
                    <mat-option [value]="'Outubro'">
                        Outubro
                    </mat-option>
                    <mat-option [value]="'Novembro'">
                        Novembro
                    </mat-option>
                    <mat-option [value]="'Dezembro'">
                        Dezembro
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="30">
                <mat-label>Ano</mat-label>
                <mat-select formControlName="ano" required>
                    <mat-option [value]="'2018'">
                        2018
                    </mat-option>
                    <mat-option [value]="'2019'">
                        2019
                    </mat-option>
                    <mat-option [value]="'2020'">
                        2020
                    </mat-option>
                </mat-select>

            </mat-form-field>

        </div>


        <div  fxLayout="row" fxLayoutGap="20px"  class="tab-content " >

            <mat-form-field appearance="outline" fxFlex="10" >
                <mat-label>Peça</mat-label>
                <mat-select formControlName="peca_id" required>
                    <mat-option [value]="peca" *ngFor="let peca of pecas">
                        {{peca.peca}}
                    </mat-option>
                </mat-select>

            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex="30">
                <mat-label>Veículo</mat-label>
                <mat-select formControlName="veiculo_id" required (selectionChange)="setProgramaList($event)">
                    <mat-option [value]="veiculo" *ngFor="let veiculo of veiculos">
                        {{veiculo.nomefantasia}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field appearance="outline" fxFlex="30">
                <mat-label>Programa</mat-label>
                <mat-select formControlName="programa_id" required (selectionChange)="setUnitPrice($event)">
                    <mat-option [value]="programa" *ngFor="let programa of programaList">
                        {{programa.descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


        </div>

        <div fxLayout="row" fxLayoutGap="2px"  class="tab-content " >


                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)" >
                            <mat-label>1 Terc</mat-label>
                            <input  matInput  formControlName="dia01"  >
                        </mat-form-field>




                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>2 Qua</mat-label>
                            <input  matInput  formControlName="dia02" >
                        </mat-form-field>



                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>3 Qui</mat-label>
                            <input  matInput  formControlName="dia03" >
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>4 Sex</mat-label>
                            <input  matInput  formControlName="dia04" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;">5 Sab</mat-label>
                            <input  matInput desa formControlName="dia05" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;" >6 Dom</mat-label>
                            <input  matInput  formControlName="dia06" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>7 Seg</mat-label>
                            <input  matInput  formControlName="dia07" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>8 Ter</mat-label>
                            <input  matInput  formControlName="dia08" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>9 Qua</mat-label>
                            <input  matInput  formControlName="dia09" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>10 Qui</mat-label>
                            <input  matInput  formControlName="dia10" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>11 Sex</mat-label>
                            <input  matInput  formControlName="dia11" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;">12 Sab</mat-label>
                            <input  matInput  formControlName="dia12" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;">13 Dom</mat-label>
                            <input  matInput  formControlName="dia13" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>14 Seg</mat-label>
                            <input  matInput  formControlName="dia14" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>15 Ter</mat-label>
                            <input  matInput  formControlName="dia15" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>16 Qua</mat-label>
                            <input  matInput  formControlName="dia16" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>17 Qui</mat-label>
                            <input  matInput  formControlName="dia17" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>18 Sex</mat-label>
                            <input  matInput  formControlName="dia18" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;">19 Sab</mat-label>
                            <input  matInput  formControlName="dia19" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;">20 Dom</mat-label>
                            <input  matInput  formControlName="dia20" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>21 Seg</mat-label>
                            <input  matInput  formControlName="dia21" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>22 Ter</mat-label>
                            <input  matInput  formControlName="dia22" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>23 Qua</mat-label>
                            <input  matInput  formControlName="dia23" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>24 Qui</mat-label>
                            <input  matInput  formControlName="dia24" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>25 Sex</mat-label>
                            <input  matInput  formControlName="dia25" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;">26 Sab</mat-label>
                            <input  matInput  formControlName="dia26" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label style="color: #f00;font-weight: 600;">27 Dom</mat-label>
                            <input  matInput  formControlName="dia27" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>28 Seg</mat-label>
                            <input  matInput  formControlName="dia28" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>29 Ter</mat-label>
                            <input  matInput  formControlName="dia29" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>30 Qua</mat-label>
                            <input  matInput  formControlName="dia30" >
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="dia" floatLabel="always" (change)="setTotalPrice($event)">
                            <mat-label>31 Qui</mat-label>
                            <input  matInput  formControlName="dia31" floatLabel="always">
                        </mat-form-field>

                <mat-form-field appearance="outline" class="qtd" disabled="true">
                    <mat-label>Quant.</mat-label>
                    <input matInput formControlName="qtd">
                </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" (change)="setTotalPrice($event)">
                <mat-label>Valor Unit.</mat-label>
                <input matInput
                       name="valorUnit"
                       formControlName="valorUnit">
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>Valor Total</mat-label>
                <input matInput
                       name="valor"
                       formControlName="valor">
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

        </div>
    </form>

        <!-- / REACTIVE FORM EXAMPLE -->
</mat-dialog-content>

        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close (click)="this.closeDialog()">Cancelar</button>
            <button (click)="this.saveGrade()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Salvar Grade</button>
        </mat-dialog-actions>