<div id="pedido-insercao" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    library_books
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Pedidos de Inserção
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Procurar Pedido de Inserção...">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/pedidoinsercao/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <mat-icon>person_add</mat-icon>
                <span>    Novo Pedido de Inserção</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container   matColumnDef="ID">
                    <mat-header-cell [ngClass]="'idcolumm'" *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell [ngClass]="'idcolumm'"  *matCellDef="let pedidoinsercao">
                        <p class="text-truncate">{{pedidoinsercao.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="veiculo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Veículo</mat-header-cell>
                    <mat-cell *matCellDef="let pedidoinsercao">
                        <p class="text-truncate">{{pedidoinsercao.veiculo_id?.nomefantasia}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="periodo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let pedidoinsercao">
                        <p class="text-truncate">{{pedidoinsercao.periodo}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Name Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let pedidoinsercao">
                        <p class="text-truncate status">{{pedidoinsercao.status}}</p>
                    </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let pedidoinsercao; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/pedidoinsercao/view/'+pedidoinsercao.id+'/'">
                </mat-row>

            </mat-table>



            <mat-paginator [length]="100"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
