<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
      <div class="col-lg-12"> 
          <h2>DividaAtiva</h2> 

          <ol class="breadcrumb"> 
              <li> 
                  <a routerLink="/">Início</a> 
              </li> 

              <li> 
                  <a routerLink="/dividaativa">DividaAtiva</a> 
              </li> 

              <li class="active"> 
                   <strong>{{activeBean.id}}</strong> 
              </li> 
          </ol> 

      </div> 

      </div> 

        <!--TOOLBAR--> 
<div class="row"> 
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar> 
 
    <div class="btn-group"> 
 
      <button class="btn btn-primary" 
        type="button" (click)="enableEdit()" 
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE"> 
        <i class="fas fa-pencil-alt"></i> Editar</button> 
 
 
      <button class="btn btn-primary" 
        type="button" 
        (click)="delete('este imóvel')"> 
        <i class="fas fa-eraser"></i> Apagar</button> 
 
      <button class="btn btn-primary"  
         (click)="this.save()"  
         type="button" 
        [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE"> 
         <i class="fas fa-save"></i> Salvar</button> 
    </div> 
 
    <div class="btn-group"> 
 
      <div class="dropdown report-dropdown "> 
 
        <button aria-expanded="true" 
        class="dropdown-toggle btn btn-primary" 
        data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos 
                </button> 
 
        <ul class="dropdown-menu user-box  animated row"> 
          <a><li>Açao 1</li></a> 
          <a><li>Açao 2</li></a> 
          <a><li>Açao 3</li></a> 
        </ul> 
 
      </div> 
    </div> 
 
    <div class="btn-group"> 
      <div class="input-group"> 
        <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button> 
 
        <div class="input-group-append"> 
          <div class="dropdown report-dropdown"> 
            <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"> 
              <span></span> 
            </button> 
 
            <ul class="dropdown-menu user-box  animated row"> 
              <a><li>Relatorio 1</li></a> 
              <a><li>Relatorio 2</li></a> 
              <a><li>Relatorio 3</li></a> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 
 
    <button class="btn btn-primary pull-right" 
        type="button" 
        (click)="openGrid()"> 
      <i class="fas fa-times-circle"></i> Fechar</button> 
 
  </div> 
  </div> 
<!--**************************************************************************************************************--> 
<div class="ibox-content l3-form"> 
      <div  class="form-horizontal row"> 
         <!--CAMPO TRB_CONTRIBUINTE_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_contribuinte_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_contribuinte_id" 
                                   [(ngModel)]="activeBean.trb_contribuinte_id_id" 
                                   [code]="activeBean.trb_contribuinte_id_codigo" 
                                   [description]="activeBean.trb_contribuinte_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_contribuinte_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO TIPOCONTRIBUINTE--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">tipocontribuinte</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dividaativa_tipocontribuinte"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO TRB_TRIBUTO_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_tributo_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_tributo_id" 
                                   [(ngModel)]="activeBean.trb_tributo_id_id" 
                                   [code]="activeBean.trb_tributo_id_codigo" 
                                   [description]="activeBean.trb_tributo_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_tributo_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO TRB_TIPODIVIDAATIVA_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_tipodividaativa_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_tipodividaativa_id" 
                                   [(ngModel)]="activeBean.trb_tipodividaativa_id_id" 
                                   [code]="activeBean.trb_tipodividaativa_id_codigo" 
                                   [description]="activeBean.trb_tipodividaativa_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_tipodividaativa_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO DATAINSCRICAO--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">datainscricao</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="datainscricao" 
                            [ngModel]="activeBean.dividaativa_datainscricao |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO PROCESSO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">processo</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dividaativa_processo"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO LIVRO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">livro</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dividaativa_livro"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO FOLHA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">folha</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dividaativa_folha"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO ANO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">ano</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dividaativa_ano"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO OBS--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">obs</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dividaativa_obs"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
      </div> 
</div>

