<div class=" row wrapper wrapper-content">
  <a href="/imovel" class="col-lg-3">
    <div class="widget style1 navy-bg">
      <div class="row">
        <div class="col-4">
          <i class="fa fa-home fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <h2 class="font-bold">Imóveis</h2>
        </div>
      </div>
    </div>
  </a>
  <a href="/empresa" class="col-lg-3">
    <div class="widget style1 navy-bg">
      <div class="row">
        <div class="col-4">
          <i class="fa fa-building fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <h2 class="font-bold">Empresas</h2>
        </div>
      </div>
    </div>
  </a>
  <a href="/contribuinte" class="col-lg-3">
    <div class="widget style1 navy-bg">
      <div class="row">
        <div class="col-4">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <h2 class="font-bold">Contribuintes</h2>
        </div>
      </div>
    </div>
  </a>
  <a href="/veiculo" class="col-lg-3">
    <div class="widget style1 navy-bg">
      <div class="row">
        <div class="col-4">
          <i class="fa fa-bus fa-5x"></i>
        </div>
        <div class="col-8 text-right">
          <h2 class="font-bold">Veículos</h2>
        </div>
      </div>
    </div>
  </a>
<!--****************************************************************-->
  <div class="col-sm-12  animated fadeInLeft">
    <div class="ibox ">
      <div class="ibox-title">
        <!--<span class="label label-info float-right">Annual</span>-->
        <h5>Arrecadação de tributos</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>

          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <div>
           <span class="float-right text-right">
             <small>Average value of sales in the past month in: <strong>United states</strong></small>
              <br/> All sales: 162,862</span>
          <h1 class="m-b-xs">$ 50,992</h1>
          <h3 class="font-bold no-margins">
            Half-year revenue margin
          </h3>
          <small>Sales marketing.</small>
        </div>

        <div>
          <div class="flot-chart-content" id="flot-chart1" style="height:200px"></div>
        </div>

        <div class="m-t-md">
          <small class="float-right">
            <i class="fa fa-clock-o"> </i>
            Update on 16.07.2015
          </small>
          <small>
            <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level
            over $50,000.
          </small>
        </div>

      </div>
    </div>
  </div>


<!--  ****************************************************************************** -->


<div class="col-sm-3">
  <div class="ibox ">
    <div class="ibox-title">
      <!--<span class="label label-info float-right">Annual</span>-->
      <h5>Parcelamentos</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <h1 class="no-margins">352</h1>
      <div class="stat-percent font-bold text-primary">325 em atraso <!--<i class="fa fa-level-up"></i>--></div>
      <small>Total</small>
    </div>
  </div>
</div>

<div class="col-sm-3">
  <div class="ibox ">
    <div class="ibox-title">
      <span class="label label-info float-right">Annual</span>
      <h5>ISS Lançado</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <h1 class="no-margins">352</h1>
      <div class="stat-percent font-bold text-success">325,65 Arrecadado <!--<i class="fa fa-level-up"></i>--></div>
      <small>Total</small>
    </div>
  </div>
</div>


  <div class="col-sm-3">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Processos de Execução</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">352</h1>
        <div class="stat-percent font-bold text-info">325 em atraso <!--<i class="fa fa-level-up"></i>--></div>
        <small>Total</small>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="ibox ">
      <div class="ibox-title">
        <span class="label label-info float-right">Annual</span>
        <h5>IPTU Lançado</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">987</h1>
        <div class="stat-percent font-bold text-danger">325,32 Arrecadado <!--<i class="fa fa-level-up"></i>--></div>
        <small>Total</small>
      </div>
    </div>
  </div>
  <!--  ****************************************************************************** -->


      <div class="col-sm-4 animated fadeInRightBig">
        <div class="ibox ">
          <div class="ibox-title">
            <h5>Percentual de Arrecadação dos Tributos
              <small>exercício Atual</small>
            </h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>

              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="flot-chart">
              <!--<div class="flot-chart-content" id="flot-bar-chart"></div>-->
              <div id="numeroDeParcelamentos" class="flot-chart-content">
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

