input.form-control{
  height: 31px;
}

.form-group{
  display: inline-block;
  padding: 0px 0px;
}

.hr-line-dashed{
  border-top: 1px dashed #1ab394;
  margin: 20px 10px auto 10px !important;
}

.control-label{
  margin-bottom: 2px;
}

.action-button{
  margin: 10px 20px 10px 10px;
}

.action-panel-right{
  padding: 0px 5px;
  margin: 5px 0px 0px 0px;
}

.container-form{
  padding: 0px 5px;
}

