<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="form-name" style="float: left">
      <span class="toolbar-title">Empresa</span>
    </div>

    <div class="pull-right">
      <div class="btn-group">

        <button class="btn btn-primary"
                type="button" (click)="enableEdit()"
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>


        <button class="btn btn-primary"
                type="button"
                (click)="delete('este imóvel')">
          <i class="fas fa-eraser"></i> Apagar
        </button>

        <button class="btn btn-primary"
                (click)="this.save()"
                type="button"
                [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>

      <div class="btn-group">

        <div class="dropdown report-dropdown ">

          <button aria-expanded="true"
                  class="dropdown-toggle btn btn-primary"
                  data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
          </button>

          <ul class="dropdown-menu user-box  animated row">
            <a>
              <li>Açao 1</li>
            </a>
            <a>
              <li>Açao 2</li>
            </a>
            <a>
              <li>Açao 3</li>
            </a>
          </ul>

        </div>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button>

          <div class="input-group-append">
            <div class="dropdown report-dropdown">
              <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
                <span></span>
              </button>

              <ul class="dropdown-menu user-box  animated row">
                <a>
                  <li>Relatorio 1</li>
                </a>
                <a>
                  <li>Relatorio 2</li>
                </a>
                <a>
                  <li>Relatorio 3</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary"
              type="button"
              (click)="openGrid()">
        <i class="fas fa-times-circle"></i> Fechar
      </button>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->


<!--CONTAINER DO FORM-->
<div class="col-lg-12 container-form">
  <div class="l3-form" style="">
    <div class="row" >

      <!--FORM-->
      <div class="col-lg-12">

        <!--BOX MAIN-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Dados Principais</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO CONTRIBUINTE-->
            <div class="form-group col-lg-9">
              <label class="col-lg control-label">Contribuinte</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="contribuinte"
                                  [(ngModel)]="activeBean.contribuinte_id"
                                  [code]="activeBean.contribuinte_codigo"
                                  [description]="activeBean.contribuinte_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Contribuinte
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO INSCRIÇÃO-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Nº de Inscrição</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_inscricao"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO INSCRIÇÃO ANTERIOR-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Inscrição Anterior</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_inscricaoanterior"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATAINSCRIÇÂO-->
            <div class='form-group col-lg-3'>
              <label class="col-lg control-label">Data de Inscrição</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.empresa_datainscricao |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO STATUS DA INSCRIÇÂO-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Status da Inscrição</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="inscricaostatus"
                                  [(ngModel)]="activeBean.inscricaostatus_id"
                                  [code]="activeBean.inscricaostatus_codigo"
                                  [description]="activeBean.inscricaostatus_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Natureza Jurídica
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NATUREZA JURÍDICA-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Natureza Jurídica</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="naturezajuridica"
                                  [(ngModel)]="activeBean.naturezajuridica_id"
                                  [code]="activeBean.naturezajuridica_codigo"
                                  [description]="activeBean.naturezajuridica_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Natureza Jurídica
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO EMAIL-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Email</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_email"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATABAIXA-->
            <div class='form-group col-lg-3'>
              <label class="col-lg control-label">Data da Baixa</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.empresa_databaixa |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NOMEFANTASIA-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Nome Fantasia</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_fantasia"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO EMPRESAMUNICIPIO-->
            <div class="form-group col-lg-3">
              <div>
                <label style="margin-left: 10px">A empresa é do Município?</label>
              </div>

              <div class="row" style="margin-left: 10px">

                <!--SIM-->
                <div class="i-checks">
                  <label>
                    <div class="radio-square-green">
                      <input type="radio"
                             name="empresamunicipio"
                             [value]="true"
                             [readonly]="operation==Operation.SELECT"
                             [(ngModel)]="activeBean.empresa_empresamunicipio"
                             checked="activeBean.empresa_empresamunicipio?'checked':''">
                      <ins class="iCheck-helper"></ins>
                    </div>

                    <i></i>Sim</label>
                </div>

                <!--NAO-->
                <div class="i-checks">
                  <label>
                    <div class="radio-square-green">
                      <input type="radio"
                             name="empresamunicipio"
                             [value]="false"
                             [readonly]="operation==Operation.SELECT"
                             [(ngModel)]="activeBean.empresa_empresamunicipio"
                             [checked]="activeBean.empresa_empresamunicipio?'':'checked'">
                      <ins class="iCheck-helper"></ins>
                    </div>

                    <i></i>Não</label>
                </div>

              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>
        <!--**************************************************************************************************************-->

        <!--BOX CARACTERÍSTICAS-->
        <div class="ibox">
          
          <!--TITLE-->
          <div class="ibox-title">
            <h5>Características</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO ENQUADRAMENTOFISCAL-->
            <div class="form-group col-lg-7">
              <label class="col-lg control-label">Regime Especial de Tributação</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="enquadramentofiscal"
                                  [(ngModel)]="activeBean.enquadramentofiscal_id"
                                  [code]="activeBean.enquadramentofiscal_codigo"
                                  [description]="activeBean.enquadramentofiscal_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Regime de Tributação
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO SIMPLESNACIONAL-->
            <div class="form-group col-lg-5">
              <label class="col-lg control-label">Simples Nacional</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="simplesnacional"
                                  [(ngModel)]="activeBean.simplesnacional_id"
                                  [code]="activeBean.simplesnacional_codigo"
                                  [description]="activeBean.simplesnacional_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Simples Nacional
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOCONSTITUICAO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Tipo de Constituição</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipoconstituicaoempresa"
                                  [(ngModel)]="activeBean.tipoconstituicaoempresa_id"
                                  [code]="activeBean.tipoconstituicaoempresa_codigo"
                                  [description]="activeBean.tipoconstituicaoempresa_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo de Constituição
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOUNIDADE-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Tipo de Unidade</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipounidadeempresa"
                                  [(ngModel)]="activeBean.tipounidadeempresa_id"
                                  [code]="activeBean.tipounidadeempresa_codigo"
                                  [description]="activeBean.tipounidadeempresa_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo de Unidade
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NATUREZAOPERACAO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Natureza de Operação</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="naturezaoperacaoempresa"
                                  [(ngModel)]="activeBean.naturezaoperacaoempresa_id"
                                  [code]="activeBean.naturezaoperacaoempresa_codigo"
                                  [description]="activeBean.naturezaoperacaoempresa_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Natureza de Operação
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DECLARACAOFISCAL-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Declaração Fiscal</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="declaracaofiscal"
                                  [(ngModel)]="activeBean.declaracaofiscal_id"
                                  [code]="activeBean.declaracaofiscal_codigo"
                                  [description]="activeBean.declaracaofiscal_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Declaração Fiscal
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO PORTEEMPRESA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Porte da Empresa</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="porteempresa"
                                  [(ngModel)]="activeBean.porteempresa_id"
                                  [code]="activeBean.porteempresa_codigo"
                                  [description]="activeBean.porteempresa_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Porte da Empresa
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPODECLARANTE-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Tipo Declarante</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipodeclarante"
                                  [(ngModel)]="activeBean.tipodeclarante_id"
                                  [code]="activeBean.tipodeclarante_codigo"
                                  [description]="activeBean.tipodeclarante_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo Declarante
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO RAMOATIVIDADE-->
            <div class="form-group col-lg-12">
              <label class="col-lg control-label">Ramo de Atividade</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="ramoatividade"
                                  [(ngModel)]="activeBean.ramoatividade_id"
                                  [code]="activeBean.ramoatividade_codigo"
                                  [description]="activeBean.ramoatividade_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Ramo de Atividade
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CNAE-->
            <div class="form-group col-lg-12">
              <label class="col-lg control-label">CNAE Principal</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="cnae"
                                  [(ngModel)]="activeBean.cnae_id"
                                  [code]="activeBean.cnae_codigo"
                                  [description]="activeBean.cnae_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Cnae
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO OBSERVAÇÔES-->
            <div class="form-group col-lg-12">
              <label class="col-lg control-label">Observações</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_obs"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO MOTIVOSTATUS-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Motivo Status</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="motivostatus"
                                  [(ngModel)]="activeBean.motivostatus_id"
                                  [code]="activeBean.motivostatus_codigo"
                                  [description]="activeBean.motivostatus_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Motivo Status
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ORGAOREGISTROEMPRESA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Orgão Registro Empresa</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="orgaoregistroempresa"
                                  [(ngModel)]="activeBean.orgaoregistroempresa_id"
                                  [code]="activeBean.orgaoregistroempresa_codigo"
                                  [description]="activeBean.orgaoregistroempresa_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Orgão Registro Empresa
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->
            
          </div>
        </div>
        <!--**************************************************************************************************************-->

        <!--BOX ADDRESS-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Endereço</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO CEP-->
            <div class="form-group col-lg-2" style="display: inline-block">
              <label class="col-lg control-label">Cep</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_cep"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TRB_TIPOLOGRADOURO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Tipo de Logradouro</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipologradouro"
                                  [(ngModel)]="activeBean.tipologradouro_id"
                                  [code]="activeBean.tipologradouro_codigo"
                                  [description]="activeBean.tipologradouro_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo de Logradouro
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOGRADOURO-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Logradouro</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="logradouro"
                                  [(ngModel)]="activeBean.logradouro_id"
                                  [code]="activeBean.logradouro_codigo"
                                  [description]="activeBean.logradouro_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Logradouro
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NUMERO-->
            <div class="form-group col-lg-2" style="display: inline-block">
              <label class="col-lg control-label">Nº</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_numero"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO COMPLEMENTO-->
            <div class="form-group col-lg-6" style="display: inline-block">
              <label class="col-lg control-label">Complemento</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.empresa_complemento"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO BAIRRO-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Bairro</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="bairro"
                                  [(ngModel)]="activeBean.bairro_id"
                                  [code]="activeBean.bairro_codigo"
                                  [description]="activeBean.bairro_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Bairro
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CIDADE-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Cidade</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="cidade"
                                  [(ngModel)]="activeBean.cidade_id"
                                  [code]="activeBean.cidade_codigo"
                                  [description]="activeBean.cidade_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Cidade
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>
        <!--**************************************************************************************************************-->

      </div>

    </div>
  </div>
</div>

