<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="form-name" style="float: left">
      <span class="toolbar-title">Imóvel</span>
    </div>

    <div class="pull-right">
      <div class="btn-group">

        <button class="btn btn-primary"
                type="button" (click)="enableEdit()"
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>


        <button class="btn btn-primary"
                type="button"
                (click)="delete('este imóvel')">
          <i class="fas fa-eraser"></i> Apagar
        </button>

        <button class="btn btn-primary"
                (click)="this.save()"
                type="button"
                [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>

      <div class="btn-group">

        <div class="dropdown report-dropdown ">

          <button aria-expanded="true"
                  class="dropdown-toggle btn btn-primary"
                  data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
          </button>

          <ul class="dropdown-menu user-box  animated row">
            <a>
              <li>Açao 1</li>
            </a>
            <a>
              <li>Açao 2</li>
            </a>
            <a>
              <li>Açao 3</li>
            </a>
          </ul>

        </div>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button>

          <div class="input-group-append">
            <div class="dropdown report-dropdown">
              <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
                <span></span>
              </button>

              <ul class="dropdown-menu user-box  animated row">
                <a>
                  <li>Relatorio 1</li>
                </a>
                <a>
                  <li>Relatorio 2</li>
                </a>
                <a>
                  <li>Relatorio 3</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary"
              type="button"
              (click)="openGrid()">
        <i class="fas fa-times-circle"></i> Fechar
      </button>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->


<!--CONTAINER DO FORM-->
<div class="col-lg-12 container-form">
  <div class="l3-form">
    <div class="row">

      <!--FORM-->
      <div class="col-lg-12">

        <!--BOX MAIN-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Dados Principais</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO DATAINSCRIÇÂO-->
            <div class='form-group col-sm-3'>
              <label class="col-lg control-label">Data de Inscrição</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.imovel_datainscricao |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO INSCRIÇÃO-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Nº de Inscrição</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_inscricao"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO INSCRIÇÃO ANTERIOR-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Inscrição Anterior</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_inscricaoanterior"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO INCRA-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">INCRA</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_incra"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO STATUS DA INSCRIÇÂO-->
            <div class="form-group col-sm-4">
              <label class="col-lg control-label">Status da Inscrição</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="inscricaostatus"
                                  [(ngModel)]="activeBean.inscricaostatus_id"
                                  [code]="activeBean.inscricaostatus_codigo"
                                  [description]="activeBean.inscricaostatus_nome"
                                  [readonly]="true"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Status da Inscrição
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CONTRIBUINTE-->
            <div class="form-group col-sm-8">
              <label class="col-lg control-label">Contribuinte</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="contribuinte"
                                  [(ngModel)]="activeBean.contribuinte_id"
                                  [code]="activeBean.contribuinte_codigo"
                                  [description]="activeBean.contribuinte_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Contribuinte
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO RESPONSÁVEL-->
            <div class="form-group col-sm-8">
              <label class="col-lg control-label">Responsável</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="contribuinte"
                                  [(ngModel)]="activeBean.responsavel_id"
                                  [code]="activeBean.responsavel_codigo"
                                  [description]="activeBean.responsavel_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Responsável
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOUNIDADE-->
            <div class="form-group col-sm-4">
              <label class="col-lg control-label">Tipo de Unidade</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipounidade"
                                  [(ngModel)]="activeBean.tipounidade_id"
                                  [code]="activeBean.tipounidade_codigo"
                                  [description]="activeBean.tipounidade_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo de Unidade
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATACONSTRUÇÃO-->
            <div class='form-group col-sm-3'>
              <label class="col-lg control-label">Data da Baixa</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.imovel_dataconstrucao |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATARECADASTRAMENTO-->
            <div class='form-group col-sm-3'>
              <label class="col-lg control-label">Data de Recadastramento</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.imovel_datarecadastramento |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATAREVISAO-->
            <div class='form-group col-sm-3'>
              <label class="col-lg control-label">Data de Revisão</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.imovel_datarevisao|date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATABAIXA-->
            <div class='form-group col-sm-3'>
              <label class="col-lg control-label">Data da Baixa</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datalancamento"
                         [ngModel]="activeBean.imovel_datastatus|date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>
        <!--**************************************************************************************************************-->

        <!--BOX ADDRESS-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Endereço</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO BAIRRO-->
            <div class="form-group col-sm-5">
              <label class="col-lg control-label">Bairro</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="bairro"
                                  [(ngModel)]="activeBean.bairro_id"
                                  [code]="activeBean.bairro_codigo"
                                  [description]="activeBean.bairro_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Bairro
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOGRADOUROSEGMENTO-->
            <div class="form-group col-sm-7">
              <label class="col-lg control-label">Logradouro Segmento</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="logradourosegmento"
                                  [(ngModel)]="activeBean.logradourosegmento_id"
                                  [code]="activeBean.logradourosegmento_codigo"
                                  [description]="activeBean.logradourosegmento_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Logradouro Segmento
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOGRADOURO-->
            <div class="form-group col-sm-10">
              <label class="col-lg control-label">Logradouro</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="logradouro"
                                  [(ngModel)]="activeBean.logradouro_id"
                                  [code]="activeBean.logradouro_codigo"
                                  [description]="activeBean.logradouro_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Logradouro
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NUMERO-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Nº da porta</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_numero"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO COMPLEMENTO-->
            <div class="form-group col-sm-6">
              <label class="col-lg control-label">Complemento</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_complemento"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOTEAMENTO-->
            <div class="form-group col-sm-6">
              <label class="col-lg control-label">Loteamento</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="loteamento"
                                  [(ngModel)]="activeBean.loteamento_id"
                                  [code]="activeBean.loteamento_codigo"
                                  [description]="activeBean.loteamento_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Loteamento
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO CONDOMINIO-->
            <div class="form-group col-sm-4">
              <label class="col-lg control-label">Condomínio</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="condominio"
                                  [(ngModel)]="activeBean.condominio_id"
                                  [code]="activeBean.condominio_codigo"
                                  [description]="activeBean.condominio_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Condomínio
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO SETOR-->
            <div class="form-group col-sm-4">
              <label class="col-lg control-label">Setor</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="setor"
                                  [(ngModel)]="activeBean.setor_id"
                                  [code]="activeBean.setor_codigo"
                                  [description]="activeBean.setor_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Setor
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DISTRITO-->
            <div class="form-group col-sm-4">
              <label class="col-lg control-label">Distrito</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="distrito"
                                  [(ngModel)]="activeBean.distrito_id"
                                  [code]="activeBean.distrito_codigo"
                                  [description]="activeBean.distrito_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Distrito
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->
          </div>

        </div>
        <!--**************************************************************************************************************-->

        <!--BOX CHARACTERISTICS-->
        <div class="ibox">
          <!--TITLE-->
          <div class="ibox-title">
            <h5>Características</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO PADRAOCONSTRUTIVO-->
            <div class="form-group col-sm-4">
              <label class="col-lg control-label">Padrão Construtico</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="padraoconstrutivo"
                                  [(ngModel)]="activeBean.padraoconstrutivo_id"
                                  [code]="activeBean.padraoconstrutivo_codigo"
                                  [description]="activeBean.padraoconstrutivo_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Padrão Construtivo
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOTEAMENTOQUADRA-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Lot. Quadra</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_loteamentoquadra"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO QUADRA-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Quadra</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_quadra"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOTEAMENTOLOTE-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Loteamento Lote</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_loteamentolote"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LOTE-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Lote</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_lote"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO NUEMROMETRICO-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Nº Métrico</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_numerometrico"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO MEDIDORAGUA-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Nº do Medidor de Água</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_medidoragua"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO MEDIDORLUZ-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Nº do Medidor de Energia</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_medidorluz"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO UNIDADE-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Unidade</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_unidade"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO SUBUNIDADE-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Sub Unidade</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_subunidade"
                       class="form-control text-center"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TESTADAFRENTE-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Testada Frente</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_testadafrente"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TESTADAFUNDO-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Testada Fundo</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_testadafundo"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TESTADADIREITA-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Testada Direita</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_testadadireita"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TESTADAESQUERDA-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Testada Esquerda</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_testadaesquerda"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO AREATERRENO-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Área Terreno</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_areaterreno"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO AREACONSTRUCAO-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Área Construção</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_areaconstrucao"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO FRACAOIDEAL-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Fração Ideal</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_fracaoideal"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO PAVIMENTOS-->
            <div class="form-group col-sm-2">
              <label class="col-lg control-label">Pavimento</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_pavimentos"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <div class="form-group col-lg-8">
              <div class="row">

                <!--CAMPO IMUNEIPTU-->
                <div class="form-group col-sm-3">
                  <div class="row div_checkbox">
                    <label class="l3-checkbox">
                      <input type="checkbox"
                             [readonly]="operation==Operation.SELECT"
                             [(ngModel)]="activeBean.imovel_imuneiptu"
                             [checked]="activeBean.imovel_imuneiptu"
                             class="ng-valid ng-dirty ng-touched"><span class="checkmark"></span>
                    </label>

                    <label class="control-label">Imune IPTU</label>
                  </div>
                </div>
                <!--**************************************************************************************************************-->

                <!--CAMPO IMUNETAXA-->
                <div class="form-group col-sm-3">
                  <div class="row div_checkbox">
                    <label class="l3-checkbox">
                      <input type="checkbox"
                             [readonly]="operation==Operation.SELECT"
                             [(ngModel)]="activeBean.imovel_imunetaxa"
                             [checked]="activeBean.imovel_imunetaxa"
                             class="ng-valid ng-dirty ng-touched"><span class="checkmark"></span>
                    </label>

                    <label class="control-label">Imune Taxa</label>
                  </div>
                </div>
                <!--**************************************************************************************************************-->

              </div>
            </div>

            <!--CAMPO OBS-->
            <div class="form-group col-lg-12">
              <label class="col-lg control-label">Observações</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_obs"
                       class="form-control"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>
        </div>
        <!--**************************************************************************************************************-->

        <!--BOX VALUES-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Valores</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO VALORVENALTERRENO-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Valor VT</label>
              <div class="col-lg">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon bg-primary">$</span>
                  </div>
                  <input type="text"
                         [readonly]="operation==Operation.SELECT"
                         [(ngModel)]="activeBean.imovel_valorvenalterreno"
                         class="form-control text-right"/>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORVENALCONSTRUCAO-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Valor VC</label>
              <div class="col-lg">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon bg-primary">$</span>
                  </div>
                  <input type="text"
                         [readonly]="operation==Operation.SELECT"
                         [(ngModel)]="activeBean.imovel_valorvenalconstrucao"
                         class="form-control text-right"/>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORVENALEXECUCAO-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Valor VE</label>
              <div class="col-lg">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon bg-primary">$</span>
                  </div>
                  <input type="text"
                         [readonly]="operation==Operation.SELECT"
                         [(ngModel)]="activeBean.imovel_valorvenalexcedente"
                         class="form-control text-right"/>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALORVENALTOTAL-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Valor Total</label>
              <div class="col-lg">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon bg-primary">$</span>
                  </div>
                  <input type="text"
                         [readonly]="operation==Operation.SELECT"
                         [(ngModel)]="activeBean.imovel_valorvenalterreno + activeBean.imovel_valorvenalconstrucao + activeBean.imovel_valorvenalexcedente"
                         class="form-control text-right"/>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALOR VUPTERRENO-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">VUP Terreno</label>
              <div class="col-lg">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon bg-primary">$</span>
                  </div>
                  <input type="text"
                         [readonly]="operation==Operation.SELECT"
                         [(ngModel)]="activeBean.imovel_valorvenalterreno + activeBean.imovel_valorvenalconstrucao + activeBean.imovel_valorvenalexcedente"
                         class="form-control text-right"/>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO VALOR VUPCONSTRUCAO-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">VUP Construção</label>
              <div class="col-lg">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-addon bg-primary">$</span>
                  </div>
                  <input type="text"
                         [readonly]="operation==Operation.SELECT"
                         [(ngModel)]="activeBean.imovel_valorvenalterreno + activeBean.imovel_valorvenalconstrucao + activeBean.imovel_valorvenalexcedente"
                         class="form-control text-right"/>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO FATORTERRENO-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Fator Terreno</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_obs"
                       class="form-control"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO FATORCONSTRUCAO-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Fator Construção</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_obs"
                       class="form-control"/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>
        <!--**************************************************************************************************************-->

        <!--BOX LOCALIZACAO-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Localização</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO MAPA-->
            <div class="form-group col-lg-6">
              <div class="col-lg">
                <iframe width="80%"
                        height="200px"
                        href="http://www.google.com.br">

                </iframe>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO FOTO IMOVEL-->
            <div class="form-group col-lg-6">
              <div class="col-lg">
                <img width="80%" height="auto" src="../../../../assets/img/profile_big.jpg">
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LATITUDE-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Latitude</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_latitude"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO LONGITUDE-->
            <div class="form-group col-sm-3">
              <label class="col-lg control-label">Longitude</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.imovel_longitude"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>
        <!--**************************************************************************************************************-->

        <gov-bciitem-item-form> </gov-bciitem-item-form>

        <!--**************************************************************************************************************-->

      </div>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->
