<!--TOOLBAR-->
<div class="row">
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar>

    <div class="form-name" style="float: left">
      <span class="toolbar-title">Alvará Emitido</span>
    </div>

    <div class="pull-right">
      <div class="btn-group">

        <button class="btn btn-primary"
                type="button" (click)="enableEdit()"
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>


        <button class="btn btn-primary"
                type="button"
                (click)="delete('este imóvel')">
          <i class="fas fa-eraser"></i> Apagar
        </button>

        <button class="btn btn-primary"
                (click)="this.save()"
                type="button"
                [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE">
          <i class="fas fa-save"></i> Salvar
        </button>
      </div>

      <div class="btn-group">

        <div class="dropdown report-dropdown ">

          <button aria-expanded="true"
                  class="dropdown-toggle btn btn-primary"
                  data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos
          </button>

          <ul class="dropdown-menu user-box  animated row">
            <a>
              <li>Açao 1</li>
            </a>
            <a>
              <li>Açao 2</li>
            </a>
            <a>
              <li>Açao 3</li>
            </a>
          </ul>

        </div>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button>

          <div class="input-group-append">
            <div class="dropdown report-dropdown">
              <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#">
                <span></span>
              </button>

              <ul class="dropdown-menu user-box  animated row">
                <a>
                  <li>Relatorio 1</li>
                </a>
                <a>
                  <li>Relatorio 2</li>
                </a>
                <a>
                  <li>Relatorio 3</li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-primary"
              type="button"
              (click)="openGrid()">
        <i class="fas fa-times-circle"></i> Fechar
      </button>

    </div>
  </div>
</div>
<!--**************************************************************************************************************-->


<!--CONTAINER DO FORM-->
<div class="col-lg-12 container-form">
  <div class="l3-form" style="">
    <div class="row" >

      <!--FORM-->
      <div class="col-lg-12">

        <!--BOX MAIN-->
        <div class="ibox">

          <!--TITLE-->
          <div class="ibox-title">
            <h5>Dados Principais</h5>

            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
            </div>
          </div>

          <!--CONTENT-->
          <div class="ibox-content">

            <!--CAMPO NUMERO-->
            <div class="form-group col-lg-2">
              <label class="col-lg control-label">Número</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.alvaraemitido_numero"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOALVARA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Tipo Alvará</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="tipoalvara"
                                  [(ngModel)]="activeBean.tipoalvara_id"
                                  [code]="activeBean.tipoalvara_codigo"
                                  [description]="activeBean.tipoalvara_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo Alvará
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO REFERENCIA-->
            <div class="form-group col-lg-6">
              <label class="col-lg control-label">Referência</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name=""
                                  [(ngModel)]="activeBean.referencia_id"
                                  [code]="activeBean.referencia_codigo"
                                  [description]="activeBean.referencia_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione a Referência
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOCONTRIBUINTE-->
            <div class="form-group col-lg-2">
              <label class="col-lg control-label">Tipo Contribuinte</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.alvaraemitido_tipocontribuinte"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATAINICIO-->
            <div class='form-group col-lg-3'
            >             <label class="col-lg control-label">Data Início</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datainicio"
                         [ngModel]="activeBean.alvaraemitido_datainicio |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO DATAFIM-->
            <div class='form-group col-lg-3'>
              <label class="col-lg control-label">Data Fim</label>
              <div class="col-lg">
                <div class="input-group date">
                  <input type="text"
                         class="form-control input-sm"
                         name="datafim"
                         [ngModel]="activeBean.alvaraemitido_datafim |date:'dd/MM/yyyy'"
                         [readonly]="operation==Operation.SELECT"/>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO TIPOUSOALVARA-->
            <div class="form-group col-lg-4">
              <label class="col-lg control-label">Tipo Uso Alvará</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="trb_tipousoalvara_id"
                                  [(ngModel)]="activeBean.tipousoalvara_id"
                                  [code]="activeBean.tipousoalvara_codigo"
                                  [description]="activeBean.tipousoalvara_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Tipo Uso Alvará
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO ENGENHEIRO-->
            <div class="form-group col-lg-7">
              <label class="col-lg control-label">Engenheiro</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="engenheiro"
                                  [(ngModel)]="activeBean.engenheiro_id"
                                  [code]="activeBean.engenheiro_codigo"
                                  [description]="activeBean.engenheiro_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Engenheiro
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO STATUS-->
            <div class="form-group col-lg-5">
              <label class="col-lg control-label">Status</label>
              <div class="col-lg">
                <gov-lookup-field class="form-control input-sm" name="alvaramotivostatus"
                                  [(ngModel)]="activeBean.status_id"
                                  [code]="activeBean.status_codigo"
                                  [description]="activeBean.status_nome"
                                  [readonly]="operation==Operation.SELECT"
                                  (lookupCodeChange)="onLookupCodeChange($event)">Selecione o Status
                </gov-lookup-field>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO HASHCONTROL-->
            <div class="form-group col-lg-3">
              <label class="col-lg control-label">Hashcontrol</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.alvaraemitido_hashcontrol"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

            <!--CAMPO OBS-->
            <div class="form-group col-lg-9">
              <label class="col-lg control-label">Obs</label>
              <div class="col-lg">
                <input type="text"
                       [readonly]="operation==Operation.SELECT"
                       [(ngModel)]="activeBean.alvaraemitido_obs"
                       class="form-control "/>
              </div>
            </div>
            <!--**************************************************************************************************************-->

          </div>

        </div>

      </div>

    </div>
  </div>
</div>

