<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
      <div class="col-lg-12"> 
          <h2>Iptu</h2> 

          <ol class="breadcrumb"> 
              <li> 
                  <a routerLink="/">Início</a> 
              </li> 

              <li> 
                  <a routerLink="/iptu">Iptu</a> 
              </li> 

              <li class="active"> 
                   <strong>{{activeBean.id}}</strong> 
              </li> 
          </ol> 

      </div> 

      </div> 

        <!--TOOLBAR--> 
<div class="row"> 
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar> 
 
    <div class="btn-group"> 
 
      <button class="btn btn-primary" 
        type="button" (click)="enableEdit()" 
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE"> 
        <i class="fas fa-pencil-alt"></i> Editar</button> 
 
 
      <button class="btn btn-primary" 
        type="button" 
        (click)="delete('este imóvel')"> 
        <i class="fas fa-eraser"></i> Apagar</button> 
 
      <button class="btn btn-primary"  
         (click)="this.save()"  
         type="button" 
        [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE"> 
         <i class="fas fa-save"></i> Salvar</button> 
    </div> 
 
    <div class="btn-group"> 
 
      <div class="dropdown report-dropdown "> 
 
        <button aria-expanded="true" 
        class="dropdown-toggle btn btn-primary" 
        data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos 
                </button> 
 
        <ul class="dropdown-menu user-box  animated row"> 
          <a><li>Açao 1</li></a> 
          <a><li>Açao 2</li></a> 
          <a><li>Açao 3</li></a> 
        </ul> 
 
      </div> 
    </div> 
 
    <div class="btn-group"> 
      <div class="input-group"> 
        <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button> 
 
        <div class="input-group-append"> 
          <div class="dropdown report-dropdown"> 
            <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"> 
              <span></span> 
            </button> 
 
            <ul class="dropdown-menu user-box  animated row"> 
              <a><li>Relatorio 1</li></a> 
              <a><li>Relatorio 2</li></a> 
              <a><li>Relatorio 3</li></a> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 
 
    <button class="btn btn-primary pull-right" 
        type="button" 
        (click)="openGrid()"> 
      <i class="fas fa-times-circle"></i> Fechar</button> 
 
  </div> 
  </div> 
<!--**************************************************************************************************************--> 
<div class="ibox-content l3-form"> 
      <div  class="form-horizontal row"> 
         <!--CAMPO DATALANCAMENTO--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">datalancamento</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="datalancamento" 
                            [ngModel]="activeBean.iptu_datalancamento |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO ANO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">ano</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_ano"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO TRB_IMOVEL_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_imovel_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_imovel_id" 
                                   [(ngModel)]="activeBean.trb_imovel_id_id" 
                                   [code]="activeBean.trb_imovel_id_codigo" 
                                   [description]="activeBean.trb_imovel_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_imovel_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO TRB_LOGRADOURO_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_logradouro_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_logradouro_id" 
                                   [(ngModel)]="activeBean.trb_logradouro_id_id" 
                                   [code]="activeBean.trb_logradouro_id_codigo" 
                                   [description]="activeBean.trb_logradouro_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_logradouro_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO TRB_SETOR_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">trb_setor_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="trb_setor_id" 
                                   [(ngModel)]="activeBean.trb_setor_id_id" 
                                   [code]="activeBean.trb_setor_id_codigo" 
                                   [description]="activeBean.trb_setor_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item trb_setor_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO NUMERO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">numero</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_numero"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO BASECALCULO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">basecalculo</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_basecalculo"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO QTDPARCELA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">qtdparcela</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_qtdparcela"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO ALIQUOTA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">aliquota</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_aliquota"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO ALIQUOTAREFERENCIA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">aliquotareferencia</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_aliquotareferencia"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALOR--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valor</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_valor"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALORPARCELA--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valorparcela</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_valorparcela"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO AREACONSTRUCAO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">areaconstrucao</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_areaconstrucao"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO AREATERRENO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">areaterreno</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_areaterreno"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO FATORCONSTRUCAO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">fatorconstrucao</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_fatorconstrucao"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO FATORTERRENO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">fatorterreno</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_fatorterreno"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO FRACAOIDEAL--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">fracaoideal</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_fracaoideal"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO TIPOUNIDADE--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">tipounidade</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_tipounidade"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALORVENALCONSTRUCAO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valorvenalconstrucao</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_valorvenalconstrucao"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALORVENALEXCEDENTE--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valorvenalexcedente</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_valorvenalexcedente"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALORVENALTERRENO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valorvenalterreno</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_valorvenalterreno"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VUPCONSTRUCAO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">vupconstrucao</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_vupconstrucao"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VUPTERRENO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">vupterreno</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_vupterreno"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO OBS--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">obs</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.iptu_obs"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
      </div> 
</div>

