<!--BARRA SUPERIOR--> 
<div class="row wrapper border-bottom white-bg page-heading"> 
      <div class="col-lg-12"> 
          <h2>PedidoInsercaoItem</h2> 

          <ol class="breadcrumb"> 
              <li> 
                  <a routerLink="/">Início</a> 
              </li> 

              <li> 
                  <a routerLink="/pedidoinsercaoitem">PedidoInsercaoItem</a> 
              </li> 

              <li class="active"> 
                   <strong>{{activeBean.id}}</strong> 
              </li> 
          </ol> 

      </div> 

      </div> 

        <!--TOOLBAR--> 
<div class="row"> 
  <div class="mail-box-header l3-toolbar" [class.sticky]="stickyMenu" #stickyBar> 
 
    <div class="btn-group"> 
 
      <button class="btn btn-primary" 
        type="button" (click)="enableEdit()" 
                [disabled]="operation === Operation.CREATE || operation === Operation.UPDATE"> 
        <i class="fas fa-pencil-alt"></i> Editar</button> 
 
 
      <button class="btn btn-primary" 
        type="button" 
        (click)="delete('este imóvel')"> 
        <i class="fas fa-eraser"></i> Apagar</button> 
 
      <button class="btn btn-primary"  
         (click)="this.save()"  
         type="button" 
        [disabled]="operation !== Operation.CREATE && operation !== Operation.UPDATE"> 
         <i class="fas fa-save"></i> Salvar</button> 
    </div> 
 
    <div class="btn-group"> 
 
      <div class="dropdown report-dropdown "> 
 
        <button aria-expanded="true" 
        class="dropdown-toggle btn btn-primary" 
        data-toggle="dropdown" href="#"><i class="fas fa-external-link-square-alt"></i>Atalhos 
                </button> 
 
        <ul class="dropdown-menu user-box  animated row"> 
          <a><li>Açao 1</li></a> 
          <a><li>Açao 2</li></a> 
          <a><li>Açao 3</li></a> 
        </ul> 
 
      </div> 
    </div> 
 
    <div class="btn-group"> 
      <div class="input-group"> 
        <button class="btn btn-primary"><i class="fa fa-print m-r-xs"></i> Imprimir</button> 
 
        <div class="input-group-append"> 
          <div class="dropdown report-dropdown"> 
            <button aria-expanded="true" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" href="#"> 
              <span></span> 
            </button> 
 
            <ul class="dropdown-menu user-box  animated row"> 
              <a><li>Relatorio 1</li></a> 
              <a><li>Relatorio 2</li></a> 
              <a><li>Relatorio 3</li></a> 
            </ul> 
          </div> 
        </div> 
      </div> 
    </div> 
 
    <button class="btn btn-primary pull-right" 
        type="button" 
        (click)="openGrid()"> 
      <i class="fas fa-times-circle"></i> Fechar</button> 
 
  </div> 
  </div> 
<!--**************************************************************************************************************--> 
<div class="ibox-content l3-form"> 
      <div  class="form-horizontal row"> 
         <!--CAMPO DATA--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">data</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="data" 
                            [ngModel]="activeBean.data |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO DESCONTO--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">desconto</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.desconto"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA01--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia01</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia01"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA02--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia02</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia02"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA03--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia03</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia03"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA04--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia04</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia04"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA05--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia05</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia05"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA06--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia06</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia06"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA07--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia07</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia07"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA08--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia08</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia08"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA09--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia09</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia09"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA10--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia10</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia10"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA11--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia11</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia11"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA12--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia12</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia12"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA13--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia13</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia13"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA14--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia14</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia14"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA15--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia15</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia15"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA16--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia16</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia16"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA17--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia17</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia17"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA18--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia18</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia18"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA19--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia19</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia19"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA20--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia20</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia20"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA21--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia21</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia21"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA22--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia22</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia22"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA23--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia23</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia23"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA24--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia24</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia24"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA25--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia25</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia25"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA26--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia26</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia26"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA27--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia27</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia27"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA28--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia28</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia28"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA29--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia29</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia29"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA30--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia30</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia30"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO DIA31--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">dia31</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.dia31"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO FATURAMENTO--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">faturamento</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="faturamento" 
                            [ngModel]="activeBean.faturamento |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO OBS--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">obs</label> 
             <div class="col-sm-10"> 
                 <input type="text"  
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.obs"
                     class="form-control "/> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO QTD--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">qtd</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.qtd"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VALOR--> 
         <div class="form-group col-sm-4">
             <label class="col-sm-2 control-label">valor</label> 
             <div class="col-sm-10"> 
                 <input type="number" 
                     [readonly]="operation==Operation.SELECT"
                     [(ngModel)]="activeBean.valor"
                     class="form-control "/> 
             </div> 
         </div> 

         <!--**************************************************************************************************************--> 
         <!--CAMPO VENCIMENTO--> 
         <div class='form-group col-sm-4' 
>             <label class="col-sm-2 control-label">vencimento</label> 
             <div class="col-sm-10"> 
                 <div class="input-group date"> 
                     <input type="text" 
                            class="form-control input-sm" 
                            name="vencimento" 
                            [ngModel]="activeBean.vencimento |date:'dd/MM/yyyy'" 
                            [readonly]="operation==Operation.SELECT"/> 
                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span> 
                 </div> 
             </div> 
         </div> 
         <!--**************************************************************************************************************--> 
         <!--CAMPO PEDIDOINSERCAO_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">pedidoinsercao_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="pedidoinsercao_id" 
                                   [(ngModel)]="activeBean.pedidoinsercao_id_id" 
                                   [code]="activeBean.pedidoinsercao_id_codigo" 
                                   [description]="activeBean.pedidoinsercao_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item pedidoinsercao_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
         <!--CAMPO PRODUTO_ID--> 
         <div class="col-sm-6"> 
             <label class="col-sm-2 control-label">produto_id</label> 
             <div class="col-sm-10"> 
                 <gov-lookup-field class="form-control input-sm" name="produto_id" 
                                   [(ngModel)]="activeBean.produto_id_id" 
                                   [code]="activeBean.produto_id_codigo" 
                                   [description]="activeBean.produto_id_nome" 
                                   [readonly]="operation==Operation.SELECT" 
                                   (lookupCodeChange)="onLookupCodeChange($event)">Selecione o item produto_id 
                 </gov-lookup-field>
             </div>
         </div>

         <!--**************************************************************************************************************--> 
      </div> 
</div>

